<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>lan_room_back_cell.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{330,66}</string>
                <key>spriteSourceSize</key>
                <string>{330,66}</string>
                <key>textureRect</key>
                <string>{{1052,1},{330,66}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>lan_room_back_gray.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{316,48}</string>
                <key>spriteSourceSize</key>
                <string>{316,50}</string>
                <key>textureRect</key>
                <string>{{1120,1},{316,48}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>lan_room_background.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1049,452}</string>
                <key>spriteSourceSize</key>
                <string>{1049,452}</string>
                <key>textureRect</key>
                <string>{{1,1},{1049,452}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lan_room_button_add.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{56,56}</string>
                <key>spriteSourceSize</key>
                <string>{56,56}</string>
                <key>textureRect</key>
                <string>{{1104,333},{56,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lan_room_button_back.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,2}</string>
                <key>spriteSize</key>
                <string>{74,50}</string>
                <key>spriteSourceSize</key>
                <string>{74,64}</string>
                <key>textureRect</key>
                <string>{{1052,333},{74,50}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>lan_room_button_create.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{208,84}</string>
                <key>spriteSourceSize</key>
                <string>{208,84}</string>
                <key>textureRect</key>
                <string>{{1170,1},{208,84}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>lan_room_button_create_select.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{208,84}</string>
                <key>spriteSourceSize</key>
                <string>{208,84}</string>
                <key>textureRect</key>
                <string>{{1256,1},{208,84}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>lan_room_button_join.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{208,84}</string>
                <key>spriteSourceSize</key>
                <string>{208,84}</string>
                <key>textureRect</key>
                <string>{{1170,211},{208,84}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>lan_room_button_join_select.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{208,84}</string>
                <key>spriteSourceSize</key>
                <string>{208,84}</string>
                <key>textureRect</key>
                <string>{{1256,211},{208,84}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>lan_room_button_rease.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{56,56}</string>
                <key>spriteSourceSize</key>
                <string>{56,56}</string>
                <key>textureRect</key>
                <string>{{1104,391},{56,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lan_room_icon_gold.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,44}</string>
                <key>spriteSourceSize</key>
                <string>{40,44}</string>
                <key>textureRect</key>
                <string>{{1052,409},{40,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>lan_room.png</string>
            <key>size</key>
            <string>{1341,454}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f88c37856a95e8f1ae7b8ed07ef7f864:aadb960b9606a483de58659e6866dab3:3f1a15f740ecbbe4593e1e327ae2b62d$</string>
            <key>textureFileName</key>
            <string>lan_room.png</string>
        </dict>
    </dict>
</plist>
