<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>login_btn_account_login_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{516,722},{283,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{283,94}}</string>
                <key>sourceSize</key>
                <string>{283,94}</string>
            </dict>
            <key>login_btn_account_login_press.png</key>
            <dict>
                <key>frame</key>
                <string>{{420,722},{283,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{283,94}}</string>
                <key>sourceSize</key>
                <string>{283,94}</string>
            </dict>
            <key>login_btn_comfirm_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{776,828},{189,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{189,66}}</string>
                <key>sourceSize</key>
                <string>{189,66}</string>
            </dict>
            <key>login_btn_confirm_press.png</key>
            <dict>
                <key>frame</key>
                <string>{{708,828},{189,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{189,66}}</string>
                <key>sourceSize</key>
                <string>{189,66}</string>
            </dict>
            <key>login_btn_forget_secret.png</key>
            <dict>
                <key>frame</key>
                <string>{{63,586},{128,28}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,3},{128,28}}</string>
                <key>sourceSize</key>
                <string>{142,36}</string>
            </dict>
            <key>login_btn_guest_login_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{93,708},{282,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{282,94}}</string>
                <key>sourceSize</key>
                <string>{282,94}</string>
            </dict>
            <key>login_btn_guest_login_press.png</key>
            <dict>
                <key>frame</key>
                <string>{{612,722},{282,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{282,94}}</string>
                <key>sourceSize</key>
                <string>{282,94}</string>
            </dict>
            <key>login_btn_login_close.png</key>
            <dict>
                <key>frame</key>
                <string>{{947,722},{75,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,76}}</string>
                <key>sourceSize</key>
                <string>{75,76}</string>
            </dict>
            <key>login_btn_login_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{756,744},{189,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{189,66}}</string>
                <key>sourceSize</key>
                <string>{189,66}</string>
            </dict>
            <key>login_btn_login_press.png</key>
            <dict>
                <key>frame</key>
                <string>{{756,676},{189,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{189,66}}</string>
                <key>sourceSize</key>
                <string>{189,66}</string>
            </dict>
            <key>login_btn_register_close.png</key>
            <dict>
                <key>frame</key>
                <string>{{844,840},{76,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,76}}</string>
                <key>sourceSize</key>
                <string>{76,76}</string>
            </dict>
            <key>login_btn_register_fresh.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,499},{34,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,33}}</string>
                <key>sourceSize</key>
                <string>{34,33}</string>
            </dict>
            <key>login_btn_register_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{756,607},{190,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{190,67}}</string>
                <key>sourceSize</key>
                <string>{190,67}</string>
            </dict>
            <key>login_btn_register_press.png</key>
            <dict>
                <key>frame</key>
                <string>{{770,538},{190,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{190,67}}</string>
                <key>sourceSize</key>
                <string>{190,67}</string>
            </dict>
            <key>login_btn_rem_secret.png</key>
            <dict>
                <key>frame</key>
                <string>{{708,570},{176,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{176,46}}</string>
                <key>sourceSize</key>
                <string>{176,46}</string>
            </dict>
            <key>login_btn_send_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{157,570},{136,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{136,48}}</string>
                <key>sourceSize</key>
                <string>{136,48}</string>
            </dict>
            <key>login_btn_send_press.png</key>
            <dict>
                <key>frame</key>
                <string>{{107,570},{136,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{136,48}}</string>
                <key>sourceSize</key>
                <string>{136,48}</string>
            </dict>
            <key>login_btn_send_unused.png</key>
            <dict>
                <key>frame</key>
                <string>{{962,584},{136,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{136,48}}</string>
                <key>sourceSize</key>
                <string>{136,48}</string>
            </dict>
            <key>login_clear_back.png</key>
            <dict>
                <key>frame</key>
                <string>{{1021,2},{1,1}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{1,1}</string>
            </dict>
            <key>login_image_9scale_text.png</key>
            <dict>
                <key>frame</key>
                <string>{{962,538},{50,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,44}}</string>
                <key>sourceSize</key>
                <string>{50,44}</string>
            </dict>
            <key>login_image_login_down.png</key>
            <dict>
                <key>frame</key>
                <string>{{108,499},{660,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{660,69}}</string>
                <key>sourceSize</key>
                <string>{660,69}</string>
            </dict>
            <key>login_image_logo.png</key>
            <dict>
                <key>frame</key>
                <string>{{795,2},{534,224}}</string>
                <key>offset</key>
                <string>{4,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,0},{534,224}}</string>
                <key>sourceSize</key>
                <string>{542,224}</string>
            </dict>
            <key>login_image_rem_select.png</key>
            <dict>
                <key>frame</key>
                <string>{{63,532},{52,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,42}}</string>
                <key>sourceSize</key>
                <string>{52,42}</string>
            </dict>
            <key>login_image_win_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{791,495}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{791,495}}</string>
                <key>sourceSize</key>
                <string>{791,495}</string>
            </dict>
            <key>login_label_account.png</key>
            <dict>
                <key>frame</key>
                <string>{{922,856},{68,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,31}}</string>
                <key>sourceSize</key>
                <string>{68,31}</string>
            </dict>
            <key>login_label_jjh_login.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,958},{416,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{416,59}}</string>
                <key>sourceSize</key>
                <string>{416,59}</string>
            </dict>
            <key>login_label_jjh_register.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,538},{418,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{418,59}}</string>
                <key>sourceSize</key>
                <string>{418,59}</string>
            </dict>
            <key>login_label_login_secret.png</key>
            <dict>
                <key>frame</key>
                <string>{{37,499},{69,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,31}}</string>
                <key>sourceSize</key>
                <string>{69,31}</string>
            </dict>
            <key>login_label_name.png</key>
            <dict>
                <key>frame</key>
                <string>{{708,748},{69,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,26}}</string>
                <key>sourceSize</key>
                <string>{69,26}</string>
            </dict>
            <key>login_label_phone_num.png</key>
            <dict>
                <key>frame</key>
                <string>{{933,828},{87,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,26}}</string>
                <key>sourceSize</key>
                <string>{87,26}</string>
            </dict>
            <key>login_label_register_secret.png</key>
            <dict>
                <key>frame</key>
                <string>{{947,800},{69,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,26}}</string>
                <key>sourceSize</key>
                <string>{69,26}</string>
            </dict>
            <key>login_label_yzm.png</key>
            <dict>
                <key>frame</key>
                <string>{{844,812},{87,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,26}}</string>
                <key>sourceSize</key>
                <string>{87,26}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>loginScene.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:fe011e21e3606b70e9ac396e0a9b05ec:1/1$</string>
            <key>textureFileName</key>
            <string>loginScene.png</string>
        </dict>
    </dict>
</plist>
