<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>button_account_login_normal.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{279,94}</string>
                <key>spriteSourceSize</key>
                <string>{321,114}</string>
                <key>textureRect</key>
                <string>{{565,1255},{279,94}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>button_account_login_select.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{317,114}</string>
                <key>spriteSourceSize</key>
                <string>{321,114}</string>
                <key>textureRect</key>
                <string>{{1,1139},{317,114}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>button_guest_login_normal.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{280,94}</string>
                <key>spriteSourceSize</key>
                <string>{320,114}</string>
                <key>textureRect</key>
                <string>{{1,1255},{280,94}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>button_guest_login_select.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{316,114}</string>
                <key>spriteSourceSize</key>
                <string>{320,114}</string>
                <key>textureRect</key>
                <string>{{320,1139},{316,114}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>button_weixin_login_normal.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{280,94}</string>
                <key>spriteSourceSize</key>
                <string>{320,114}</string>
                <key>textureRect</key>
                <string>{{283,1255},{280,94}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>button_weixin_login_select.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{316,114}</string>
                <key>spriteSourceSize</key>
                <string>{320,114}</string>
                <key>textureRect</key>
                <string>{{638,1139},{316,114}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>main_layer_house.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1136,704}</string>
                <key>spriteSourceSize</key>
                <string>{1136,704}</string>
                <key>textureRect</key>
                <string>{{1,1},{1136,704}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>main_layer_sky.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1136,341}</string>
                <key>spriteSourceSize</key>
                <string>{1136,341}</string>
                <key>textureRect</key>
                <string>{{707,1},{1136,341}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>mainscene.png</string>
            <key>size</key>
            <string>{1049,1350}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ecff022b36a32140c9bffac5992f8e28:3386439bb551d22aaabe41517d525e1e:3ad60f9602a56424aca7594a61419782$</string>
            <key>textureFileName</key>
            <string>mainscene.png</string>
        </dict>
    </dict>
</plist>
