<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bank_9scale_textfield.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,178},{40,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,40}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>bank_btn_change_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{90,359},{160,42}}</string>
                <key>offset</key>
                <string>{-5,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,5},{160,42}}</string>
                <key>sourceSize</key>
                <string>{170,54}</string>
            </dict>
            <key>bank_btn_change_press.png</key>
            <dict>
                <key>frame</key>
                <string>{{940,174},{170,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{170,54}}</string>
                <key>sourceSize</key>
                <string>{170,54}</string>
            </dict>
            <key>bank_btn_getgold_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{46,359},{160,42}}</string>
                <key>offset</key>
                <string>{-5,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,5},{160,42}}</string>
                <key>sourceSize</key>
                <string>{170,54}</string>
            </dict>
            <key>bank_btn_getgold_press.png</key>
            <dict>
                <key>frame</key>
                <string>{{600,6},{170,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{170,54}}</string>
                <key>sourceSize</key>
                <string>{170,54}</string>
            </dict>
            <key>bank_btn_save_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,359},{160,42}}</string>
                <key>offset</key>
                <string>{-5,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,5},{160,42}}</string>
                <key>sourceSize</key>
                <string>{170,54}</string>
            </dict>
            <key>bank_btn_save_press.png</key>
            <dict>
                <key>frame</key>
                <string>{{940,2},{170,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{170,54}}</string>
                <key>sourceSize</key>
                <string>{170,54}</string>
            </dict>
            <key>bank_image_btn_saveall.png</key>
            <dict>
                <key>frame</key>
                <string>{{993,452},{94,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,26}}</string>
                <key>sourceSize</key>
                <string>{94,26}</string>
            </dict>
            <key>bank_image_btn_takeall.png</key>
            <dict>
                <key>frame</key>
                <string>{{993,356},{94,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,26}}</string>
                <key>sourceSize</key>
                <string>{94,26}</string>
            </dict>
            <key>bank_image_title.png</key>
            <dict>
                <key>frame</key>
                <string>{{53,242},{223,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{223,102}}</string>
                <key>sourceSize</key>
                <string>{223,102}</string>
            </dict>
            <key>bank_label_bank_secret.png</key>
            <dict>
                <key>frame</key>
                <string>{{656,124},{116,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,26}}</string>
                <key>sourceSize</key>
                <string>{116,26}</string>
            </dict>
            <key>bank_label_bankgold.png</key>
            <dict>
                <key>frame</key>
                <string>{{996,238},{116,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,26}}</string>
                <key>sourceSize</key>
                <string>{116,26}</string>
            </dict>
            <key>bank_label_getgold.png</key>
            <dict>
                <key>frame</key>
                <string>{{656,6},{116,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,26}}</string>
                <key>sourceSize</key>
                <string>{116,26}</string>
            </dict>
            <key>bank_label_saveglod.png</key>
            <dict>
                <key>frame</key>
                <string>{{996,120},{116,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,26}}</string>
                <key>sourceSize</key>
                <string>{116,26}</string>
            </dict>
            <key>bank_label_usergold.png</key>
            <dict>
                <key>frame</key>
                <string>{{996,2},{116,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,26}}</string>
                <key>sourceSize</key>
                <string>{116,26}</string>
            </dict>
            <key>plaza_pay_btn_weixin_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{278,158},{254,117}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{254,117}}</string>
                <key>sourceSize</key>
                <string>{254,117}</string>
            </dict>
            <key>plaza_pay_btn_weixin_press.png</key>
            <dict>
                <key>frame</key>
                <string>{{684,240},{254,117}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{254,117}}</string>
                <key>sourceSize</key>
                <string>{254,117}</string>
            </dict>
            <key>plaza_pay_btn_zfb_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{684,121},{254,117}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{254,117}}</string>
                <key>sourceSize</key>
                <string>{254,117}</string>
            </dict>
            <key>plaza_pay_btn_zfb_press.png</key>
            <dict>
                <key>frame</key>
                <string>{{684,2},{254,117}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{254,117}}</string>
                <key>sourceSize</key>
                <string>{254,117}</string>
            </dict>
            <key>plaza_pay_image_pay_line.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{680,2}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{680,2}}</string>
                <key>sourceSize</key>
                <string>{680,2}</string>
            </dict>
            <key>plaza_pay_image_type.png</key>
            <dict>
                <key>frame</key>
                <string>{{940,346},{199,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{199,51}}</string>
                <key>sourceSize</key>
                <string>{199,51}</string>
            </dict>
            <key>plaza_pay_label_goods_name.png</key>
            <dict>
                <key>frame</key>
                <string>{{28,242},{110,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,23}}</string>
                <key>sourceSize</key>
                <string>{110,23}</string>
            </dict>
            <key>plaza_pay_label_goods_price.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,242},{110,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,24}}</string>
                <key>sourceSize</key>
                <string>{110,24}</string>
            </dict>
            <key>plaza_pay_label_pay_price.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,521},{111,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{111,24}}</string>
                <key>sourceSize</key>
                <string>{111,24}</string>
            </dict>
            <key>shop_9scale_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,548},{36,386}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,386}}</string>
                <key>sourceSize</key>
                <string>{36,386}</string>
            </dict>
            <key>shop_icon_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{756,675},{240,156}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{240,156}}</string>
                <key>sourceSize</key>
                <string>{240,156}</string>
            </dict>
            <key>shop_icon_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{598,675},{240,156}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{240,156}}</string>
                <key>sourceSize</key>
                <string>{240,156}</string>
            </dict>
            <key>shop_icon_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{440,761},{240,156}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{240,156}}</string>
                <key>sourceSize</key>
                <string>{240,156}</string>
            </dict>
            <key>shop_icon_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{198,751},{240,156}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{240,156}}</string>
                <key>sourceSize</key>
                <string>{240,156}</string>
            </dict>
            <key>shop_icon_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{198,593},{240,156}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{240,156}}</string>
                <key>sourceSize</key>
                <string>{240,156}</string>
            </dict>
            <key>shop_icon_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{440,519},{240,156}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{240,156}}</string>
                <key>sourceSize</key>
                <string>{240,156}</string>
            </dict>
            <key>shop_icon_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{198,435},{240,156}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{240,156}}</string>
                <key>sourceSize</key>
                <string>{240,156}</string>
            </dict>
            <key>shop_icon_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{40,675},{240,156}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{240,156}}</string>
                <key>sourceSize</key>
                <string>{240,156}</string>
            </dict>
            <key>shop_icon_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{678,517},{240,156}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{240,156}}</string>
                <key>sourceSize</key>
                <string>{240,156}</string>
            </dict>
            <key>shop_icon_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{678,359},{240,156}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{240,156}}</string>
                <key>sourceSize</key>
                <string>{240,156}</string>
            </dict>
            <key>shop_icon_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{520,277},{240,156}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{240,156}}</string>
                <key>sourceSize</key>
                <string>{240,156}</string>
            </dict>
            <key>shop_icon_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{278,277},{240,156}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{240,156}}</string>
                <key>sourceSize</key>
                <string>{240,156}</string>
            </dict>
            <key>shop_image_title.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,6},{596,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{596,150}}</string>
                <key>sourceSize</key>
                <string>{596,150}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>shop.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d1215926e2545c5b8354be9f79f54d53:1/1$</string>
            <key>textureFileName</key>
            <string>shop.png</string>
        </dict>
    </dict>
</plist>
