<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>big_card_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{527,1066},{131,173}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,6},{131,173}}</string>
                <key>sourceSize</key>
                <string>{137,185}</string>
            </dict>
            <key>big_card_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{352,1066},{131,173}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,6},{131,173}}</string>
                <key>sourceSize</key>
                <string>{137,185}</string>
            </dict>
            <key>big_card_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{177,1066},{131,173}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,6},{131,173}}</string>
                <key>sourceSize</key>
                <string>{137,185}</string>
            </dict>
            <key>big_card_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1752},{131,173}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,6},{131,173}}</string>
                <key>sourceSize</key>
                <string>{137,185}</string>
            </dict>
            <key>big_card_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1577},{131,173}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,6},{131,173}}</string>
                <key>sourceSize</key>
                <string>{137,185}</string>
            </dict>
            <key>big_card_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1402},{131,173}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,6},{131,173}}</string>
                <key>sourceSize</key>
                <string>{137,185}</string>
            </dict>
            <key>big_card_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1066},{131,173}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,6},{131,173}}</string>
                <key>sourceSize</key>
                <string>{137,185}</string>
            </dict>
            <key>big_card_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1227},{131,173}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,6},{131,173}}</string>
                <key>sourceSize</key>
                <string>{137,185}</string>
            </dict>
            <key>big_card_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{877,1052},{131,173}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,6},{131,173}}</string>
                <key>sourceSize</key>
                <string>{137,185}</string>
            </dict>
            <key>big_card_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{702,933},{131,173}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,6},{131,173}}</string>
                <key>sourceSize</key>
                <string>{137,185}</string>
            </dict>
            <key>big_card_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{527,933},{131,173}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,6},{131,173}}</string>
                <key>sourceSize</key>
                <string>{137,185}</string>
            </dict>
            <key>big_card_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{352,933},{131,173}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,6},{131,173}}</string>
                <key>sourceSize</key>
                <string>{137,185}</string>
            </dict>
            <key>big_card_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{177,933},{131,173}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,6},{131,173}}</string>
                <key>sourceSize</key>
                <string>{137,185}</string>
            </dict>
            <key>big_card_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,933},{131,173}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,6},{131,173}}</string>
                <key>sourceSize</key>
                <string>{137,185}</string>
            </dict>
            <key>big_card_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{877,877},{131,173}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,6},{131,173}}</string>
                <key>sourceSize</key>
                <string>{137,185}</string>
            </dict>
            <key>big_card_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{702,800},{131,173}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,6},{131,173}}</string>
                <key>sourceSize</key>
                <string>{137,185}</string>
            </dict>
            <key>big_card_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{527,800},{131,173}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,6},{131,173}}</string>
                <key>sourceSize</key>
                <string>{137,185}</string>
            </dict>
            <key>big_card_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{352,800},{131,173}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,6},{131,173}}</string>
                <key>sourceSize</key>
                <string>{137,185}</string>
            </dict>
            <key>big_card_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{177,800},{131,173}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,6},{131,173}}</string>
                <key>sourceSize</key>
                <string>{137,185}</string>
            </dict>
            <key>big_card_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,800},{131,173}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,6},{131,173}}</string>
                <key>sourceSize</key>
                <string>{137,185}</string>
            </dict>
            <key>big_card_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{877,702},{131,173}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,6},{131,173}}</string>
                <key>sourceSize</key>
                <string>{137,185}</string>
            </dict>
            <key>big_card_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{702,667},{131,173}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,6},{131,173}}</string>
                <key>sourceSize</key>
                <string>{137,185}</string>
            </dict>
            <key>big_card_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{527,667},{131,173}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,6},{131,173}}</string>
                <key>sourceSize</key>
                <string>{137,185}</string>
            </dict>
            <key>big_card_27.png</key>
            <dict>
                <key>frame</key>
                <string>{{352,667},{131,173}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,6},{131,173}}</string>
                <key>sourceSize</key>
                <string>{137,185}</string>
            </dict>
            <key>big_card_28.png</key>
            <dict>
                <key>frame</key>
                <string>{{177,667},{131,173}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,6},{131,173}}</string>
                <key>sourceSize</key>
                <string>{137,185}</string>
            </dict>
            <key>big_card_29.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,667},{131,173}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,6},{131,173}}</string>
                <key>sourceSize</key>
                <string>{137,185}</string>
            </dict>
            <key>big_card_33.png</key>
            <dict>
                <key>frame</key>
                <string>{{702,534},{131,173}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,6},{131,173}}</string>
                <key>sourceSize</key>
                <string>{137,185}</string>
            </dict>
            <key>big_card_34.png</key>
            <dict>
                <key>frame</key>
                <string>{{527,534},{131,173}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,6},{131,173}}</string>
                <key>sourceSize</key>
                <string>{137,185}</string>
            </dict>
            <key>big_card_35.png</key>
            <dict>
                <key>frame</key>
                <string>{{352,534},{131,173}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,6},{131,173}}</string>
                <key>sourceSize</key>
                <string>{137,185}</string>
            </dict>
            <key>big_card_36.png</key>
            <dict>
                <key>frame</key>
                <string>{{177,534},{131,173}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,6},{131,173}}</string>
                <key>sourceSize</key>
                <string>{137,185}</string>
            </dict>
            <key>big_card_37.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,534},{131,173}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,6},{131,173}}</string>
                <key>sourceSize</key>
                <string>{137,185}</string>
            </dict>
            <key>big_card_38.png</key>
            <dict>
                <key>frame</key>
                <string>{{877,527},{131,173}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,6},{131,173}}</string>
                <key>sourceSize</key>
                <string>{137,185}</string>
            </dict>
            <key>big_card_39.png</key>
            <dict>
                <key>frame</key>
                <string>{{702,401},{131,173}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,6},{131,173}}</string>
                <key>sourceSize</key>
                <string>{137,185}</string>
            </dict>
            <key>big_card_40.png</key>
            <dict>
                <key>frame</key>
                <string>{{527,401},{131,173}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,6},{131,173}}</string>
                <key>sourceSize</key>
                <string>{137,185}</string>
            </dict>
            <key>big_card_41.png</key>
            <dict>
                <key>frame</key>
                <string>{{352,401},{131,173}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,6},{131,173}}</string>
                <key>sourceSize</key>
                <string>{137,185}</string>
            </dict>
            <key>big_card_42.png</key>
            <dict>
                <key>frame</key>
                <string>{{177,401},{131,173}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,6},{131,173}}</string>
                <key>sourceSize</key>
                <string>{137,185}</string>
            </dict>
            <key>big_card_43.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,401},{131,173}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,6},{131,173}}</string>
                <key>sourceSize</key>
                <string>{137,185}</string>
            </dict>
            <key>big_card_44.png</key>
            <dict>
                <key>frame</key>
                <string>{{877,352},{131,173}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,6},{131,173}}</string>
                <key>sourceSize</key>
                <string>{137,185}</string>
            </dict>
            <key>big_card_45.png</key>
            <dict>
                <key>frame</key>
                <string>{{702,268},{131,173}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,6},{131,173}}</string>
                <key>sourceSize</key>
                <string>{137,185}</string>
            </dict>
            <key>big_card_49.png</key>
            <dict>
                <key>frame</key>
                <string>{{527,268},{131,173}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,6},{131,173}}</string>
                <key>sourceSize</key>
                <string>{137,185}</string>
            </dict>
            <key>big_card_50.png</key>
            <dict>
                <key>frame</key>
                <string>{{352,268},{131,173}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,6},{131,173}}</string>
                <key>sourceSize</key>
                <string>{137,185}</string>
            </dict>
            <key>big_card_51.png</key>
            <dict>
                <key>frame</key>
                <string>{{177,268},{131,173}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,6},{131,173}}</string>
                <key>sourceSize</key>
                <string>{137,185}</string>
            </dict>
            <key>big_card_52.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,268},{131,173}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,6},{131,173}}</string>
                <key>sourceSize</key>
                <string>{137,185}</string>
            </dict>
            <key>big_card_53.png</key>
            <dict>
                <key>frame</key>
                <string>{{877,177},{131,173}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,6},{131,173}}</string>
                <key>sourceSize</key>
                <string>{137,185}</string>
            </dict>
            <key>big_card_54.png</key>
            <dict>
                <key>frame</key>
                <string>{{702,135},{131,173}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,6},{131,173}}</string>
                <key>sourceSize</key>
                <string>{137,185}</string>
            </dict>
            <key>big_card_55.png</key>
            <dict>
                <key>frame</key>
                <string>{{527,135},{131,173}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,6},{131,173}}</string>
                <key>sourceSize</key>
                <string>{137,185}</string>
            </dict>
            <key>big_card_56.png</key>
            <dict>
                <key>frame</key>
                <string>{{352,135},{131,173}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,6},{131,173}}</string>
                <key>sourceSize</key>
                <string>{137,185}</string>
            </dict>
            <key>big_card_57.png</key>
            <dict>
                <key>frame</key>
                <string>{{177,135},{131,173}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,6},{131,173}}</string>
                <key>sourceSize</key>
                <string>{137,185}</string>
            </dict>
            <key>big_card_58.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,135},{131,173}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,6},{131,173}}</string>
                <key>sourceSize</key>
                <string>{137,185}</string>
            </dict>
            <key>big_card_59.png</key>
            <dict>
                <key>frame</key>
                <string>{{877,2},{131,173}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,6},{131,173}}</string>
                <key>sourceSize</key>
                <string>{137,185}</string>
            </dict>
            <key>big_card_60.png</key>
            <dict>
                <key>frame</key>
                <string>{{702,2},{131,173}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,6},{131,173}}</string>
                <key>sourceSize</key>
                <string>{137,185}</string>
            </dict>
            <key>big_card_61.png</key>
            <dict>
                <key>frame</key>
                <string>{{527,2},{131,173}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,6},{131,173}}</string>
                <key>sourceSize</key>
                <string>{137,185}</string>
            </dict>
            <key>big_card_65.png</key>
            <dict>
                <key>frame</key>
                <string>{{352,2},{131,173}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,6},{131,173}}</string>
                <key>sourceSize</key>
                <string>{137,185}</string>
            </dict>
            <key>big_card_66.png</key>
            <dict>
                <key>frame</key>
                <string>{{177,2},{131,173}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,6},{131,173}}</string>
                <key>sourceSize</key>
                <string>{137,185}</string>
            </dict>
            <key>card_back.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{131,173}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,6},{131,173}}</string>
                <key>sourceSize</key>
                <string>{137,185}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>card.png</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7735bc9b89c0f6bec974a9ee901952ae:1/1$</string>
            <key>textureFileName</key>
            <string>card.png</string>
        </dict>
    </dict>
</plist>
