<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>chat_emoticon_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,296},{96,96}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,11},{96,96}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>chat_emoticon_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,198},{96,96}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,11},{96,96}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>chat_emoticon_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{100,198},{94,96}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,11},{94,96}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>chat_emoticon_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,100},{96,96}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,11},{96,96}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>chat_emoticon_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{396,2},{96,96}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,11},{96,96}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>chat_emoticon_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{298,2},{96,96}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,11},{96,96}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>chat_emoticon_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{200,2},{96,96}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,11},{96,96}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>chat_emoticon_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{100,100},{94,96}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,11},{94,96}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>chat_emoticon_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,2},{96,96}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,11},{96,96}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>chat_emoticon_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,394},{94,96}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,11},{94,96}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>chat_emoticon_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{98,96}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,11},{98,96}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>chat_emoticon_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,394},{94,96}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,11},{94,96}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>chat.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:97ef25b2b01725df02e6b9c855f75c4c:1/1$</string>
            <key>textureFileName</key>
            <string>chat.png</string>
        </dict>
    </dict>
</plist>
