<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>common_alert_button_ok.png</key>
            <dict>
                <key>frame</key>
                <string>{{724,104},{248,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{248,100}}</string>
                <key>sourceSize</key>
                <string>{248,100}</string>
            </dict>
            <key>common_alert_button_ok_select.png</key>
            <dict>
                <key>frame</key>
                <string>{{736,2},{248,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{248,100}}</string>
                <key>sourceSize</key>
                <string>{248,100}</string>
            </dict>
            <key>common_btn_back_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{652,132},{110,66}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{110,66}}</string>
                <key>sourceSize</key>
                <string>{116,70}</string>
            </dict>
            <key>common_btn_back_press.png</key>
            <dict>
                <key>frame</key>
                <string>{{652,14},{116,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,70}}</string>
                <key>sourceSize</key>
                <string>{116,70}</string>
            </dict>
            <key>common_btn_close_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{862,962},{94,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,94}}</string>
                <key>sourceSize</key>
                <string>{94,94}</string>
            </dict>
            <key>common_btn_close_press.png</key>
            <dict>
                <key>frame</key>
                <string>{{766,962},{94,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,94}}</string>
                <key>sourceSize</key>
                <string>{94,94}</string>
            </dict>
            <key>common_btn_confirm_green_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{720,206},{382,138}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{382,138}}</string>
                <key>sourceSize</key>
                <string>{382,138}</string>
            </dict>
            <key>common_btn_confirm_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{860,584},{376,136}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,1},{376,136}}</string>
                <key>sourceSize</key>
                <string>{382,138}</string>
            </dict>
            <key>common_btn_confirm_press.png</key>
            <dict>
                <key>frame</key>
                <string>{{860,206},{376,136}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,1},{376,136}}</string>
                <key>sourceSize</key>
                <string>{382,138}</string>
            </dict>
            <key>common_image_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,14},{1108,648}}</string>
                <key>offset</key>
                <string>{-2,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,1},{1108,648}}</string>
                <key>sourceSize</key>
                <string>{1146,656}</string>
            </dict>
            <key>common_image_bg_head.png</key>
            <dict>
                <key>frame</key>
                <string>{{652,590},{596,112}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,1},{596,112}}</string>
                <key>sourceSize</key>
                <string>{604,116}</string>
            </dict>
            <key>common_image_line.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{10,732}}</string>
                <key>offset</key>
                <string>{-1,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,32},{10,732}}</string>
                <key>sourceSize</key>
                <string>{26,780}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>common.png</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:11a14271c4a62d098143d1528b6d55c1:1/1$</string>
            <key>textureFileName</key>
            <string>common.png</string>
        </dict>
    </dict>
</plist>
