<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bigchip_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{449,614},{76,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,78}}</string>
                <key>sourceSize</key>
                <string>{76,78}</string>
            </dict>
            <key>bigchip_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{200,1890},{76,76}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,76}}</string>
                <key>sourceSize</key>
                <string>{76,78}</string>
            </dict>
            <key>bigchip_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,1812},{76,76}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,76}}</string>
                <key>sourceSize</key>
                <string>{76,78}</string>
            </dict>
            <key>bigchip_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,1812},{76,76}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,76}}</string>
                <key>sourceSize</key>
                <string>{76,78}</string>
            </dict>
            <key>bigchip_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{449,692},{76,76}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,76}}</string>
                <key>sourceSize</key>
                <string>{76,78}</string>
            </dict>
            <key>card_type_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1476},{274,120}}</string>
                <key>offset</key>
                <string>{1,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,15},{274,120}}</string>
                <key>sourceSize</key>
                <string>{316,138}</string>
            </dict>
            <key>card_type_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{278,1465},{274,120}}</string>
                <key>offset</key>
                <string>{1,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{22,15},{274,120}}</string>
                <key>sourceSize</key>
                <string>{316,138}</string>
            </dict>
            <key>card_type_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{400,1412},{274,120}}</string>
                <key>offset</key>
                <string>{1,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{22,15},{274,120}}</string>
                <key>sourceSize</key>
                <string>{316,138}</string>
            </dict>
            <key>card_type_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{526,1396},{274,120}}</string>
                <key>offset</key>
                <string>{1,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,15},{274,120}}</string>
                <key>sourceSize</key>
                <string>{316,138}</string>
            </dict>
            <key>card_type_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{526,1274},{274,120}}</string>
                <key>offset</key>
                <string>{1,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,15},{274,120}}</string>
                <key>sourceSize</key>
                <string>{316,138}</string>
            </dict>
            <key>card_type_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{526,1152},{274,120}}</string>
                <key>offset</key>
                <string>{1,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,15},{274,120}}</string>
                <key>sourceSize</key>
                <string>{316,138}</string>
            </dict>
            <key>card_type_lose_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1354},{274,120}}</string>
                <key>offset</key>
                <string>{1,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,16},{274,120}}</string>
                <key>sourceSize</key>
                <string>{312,136}</string>
            </dict>
            <key>card_type_lose_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1232},{274,120}}</string>
                <key>offset</key>
                <string>{1,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,16},{274,120}}</string>
                <key>sourceSize</key>
                <string>{312,136}</string>
            </dict>
            <key>card_type_lose_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{278,1189},{274,120}}</string>
                <key>offset</key>
                <string>{1,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,16},{274,120}}</string>
                <key>sourceSize</key>
                <string>{312,136}</string>
            </dict>
            <key>card_type_lose_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{404,1136},{274,120}}</string>
                <key>offset</key>
                <string>{1,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,16},{274,120}}</string>
                <key>sourceSize</key>
                <string>{312,136}</string>
            </dict>
            <key>card_type_lose_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{868,1150},{274,120}}</string>
                <key>offset</key>
                <string>{1,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,16},{274,120}}</string>
                <key>sourceSize</key>
                <string>{312,136}</string>
            </dict>
            <key>card_type_lose_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{592,1030},{274,120}}</string>
                <key>offset</key>
                <string>{1,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,16},{274,120}}</string>
                <key>sourceSize</key>
                <string>{312,136}</string>
            </dict>
            <key>card_type_win_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1110},{274,120}}</string>
                <key>offset</key>
                <string>{1,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,15},{274,120}}</string>
                <key>sourceSize</key>
                <string>{316,138}</string>
            </dict>
            <key>card_type_win_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,988},{274,120}}</string>
                <key>offset</key>
                <string>{1,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,15},{274,120}}</string>
                <key>sourceSize</key>
                <string>{316,138}</string>
            </dict>
            <key>card_type_win_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{594,908},{274,120}}</string>
                <key>offset</key>
                <string>{1,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,15},{274,120}}</string>
                <key>sourceSize</key>
                <string>{316,138}</string>
            </dict>
            <key>card_type_win_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,866},{274,120}}</string>
                <key>offset</key>
                <string>{1,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,15},{274,120}}</string>
                <key>sourceSize</key>
                <string>{316,138}</string>
            </dict>
            <key>card_type_win_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,744},{274,120}}</string>
                <key>offset</key>
                <string>{1,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,15},{274,120}}</string>
                <key>sourceSize</key>
                <string>{316,138}</string>
            </dict>
            <key>card_type_win_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{597,786},{274,120}}</string>
                <key>offset</key>
                <string>{1,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,15},{274,120}}</string>
                <key>sourceSize</key>
                <string>{316,138}</string>
            </dict>
            <key>game_all_score_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,320},{284,48}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{284,48}}</string>
                <key>sourceSize</key>
                <string>{288,50}</string>
            </dict>
            <key>game_btn_addscore_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,1598},{110,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,120}}</string>
                <key>sourceSize</key>
                <string>{110,120}</string>
            </dict>
            <key>game_btn_addscore_unused.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1598},{110,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,120}}</string>
                <key>sourceSize</key>
                <string>{110,120}</string>
            </dict>
            <key>game_btn_autofollow_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{601,670},{276,114}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,12},{276,114}}</string>
                <key>sourceSize</key>
                <string>{300,136}</string>
            </dict>
            <key>game_btn_autofollow_press.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,628},{276,114}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,12},{276,114}}</string>
                <key>sourceSize</key>
                <string>{300,136}</string>
            </dict>
            <key>game_btn_cancelfollow_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,182},{300,136}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{300,136}}</string>
                <key>sourceSize</key>
                <string>{300,136}</string>
            </dict>
            <key>game_btn_cancelfollow_press.png</key>
            <dict>
                <key>frame</key>
                <string>{{602,532},{300,136}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{300,136}}</string>
                <key>sourceSize</key>
                <string>{300,136}</string>
            </dict>
            <key>game_btn_changetable_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{870,940},{102,124}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,4},{102,124}}</string>
                <key>sourceSize</key>
                <string>{116,132}</string>
            </dict>
            <key>game_btn_changetable_press.png</key>
            <dict>
                <key>frame</key>
                <string>{{873,830},{108,132}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,0},{108,132}}</string>
                <key>sourceSize</key>
                <string>{116,132}</string>
            </dict>
            <key>game_btn_chat_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{524,876},{84,68}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,6},{84,68}}</string>
                <key>sourceSize</key>
                <string>{94,80}</string>
            </dict>
            <key>game_btn_chat_press.png</key>
            <dict>
                <key>frame</key>
                <string>{{932,2},{90,72}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,4},{90,72}}</string>
                <key>sourceSize</key>
                <string>{94,80}</string>
            </dict>
            <key>game_btn_chip_1_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1812},{100,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,108}}</string>
                <key>sourceSize</key>
                <string>{100,108}</string>
            </dict>
            <key>game_btn_chip_1_press.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1922},{94,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,3},{94,102}}</string>
                <key>sourceSize</key>
                <string>{100,108}</string>
            </dict>
            <key>game_btn_chip_2_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{112,1710},{100,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,108}}</string>
                <key>sourceSize</key>
                <string>{100,108}</string>
            </dict>
            <key>game_btn_chip_2_press.png</key>
            <dict>
                <key>frame</key>
                <string>{{924,1530},{94,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,3},{94,102}}</string>
                <key>sourceSize</key>
                <string>{100,108}</string>
            </dict>
            <key>game_btn_chip_3_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1710},{100,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,108}}</string>
                <key>sourceSize</key>
                <string>{100,108}</string>
            </dict>
            <key>game_btn_chip_3_press.png</key>
            <dict>
                <key>frame</key>
                <string>{{924,1426},{94,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,3},{94,102}}</string>
                <key>sourceSize</key>
                <string>{100,108}</string>
            </dict>
            <key>game_btn_choose_compare.png</key>
            <dict>
                <key>frame</key>
                <string>{{282,538},{165,155}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{165,155}}</string>
                <key>sourceSize</key>
                <string>{165,155}</string>
            </dict>
            <key>game_btn_compare_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{802,1426},{110,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,120}}</string>
                <key>sourceSize</key>
                <string>{110,120}</string>
            </dict>
            <key>game_btn_compare_unused.png</key>
            <dict>
                <key>frame</key>
                <string>{{404,1014},{110,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,120}}</string>
                <key>sourceSize</key>
                <string>{110,120}</string>
            </dict>
            <key>game_btn_follow_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{412,892},{110,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,120}}</string>
                <key>sourceSize</key>
                <string>{110,120}</string>
            </dict>
            <key>game_btn_follow_unused.png</key>
            <dict>
                <key>frame</key>
                <string>{{412,770},{110,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,120}}</string>
                <key>sourceSize</key>
                <string>{110,120}</string>
            </dict>
            <key>game_btn_last_add_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{278,1067},{124,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{124,120}}</string>
                <key>sourceSize</key>
                <string>{130,120}</string>
            </dict>
            <key>game_btn_last_add_unused.png</key>
            <dict>
                <key>frame</key>
                <string>{{278,945},{124,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{124,120}}</string>
                <key>sourceSize</key>
                <string>{130,120}</string>
            </dict>
            <key>game_btn_lookcard_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{282,414},{242,80}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{242,80}}</string>
                <key>sourceSize</key>
                <string>{244,82}</string>
            </dict>
            <key>game_btn_out_card_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{910,478},{110,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,120}}</string>
                <key>sourceSize</key>
                <string>{110,120}</string>
            </dict>
            <key>game_btn_out_card_unused.png</key>
            <dict>
                <key>frame</key>
                <string>{{910,356},{110,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,120}}</string>
                <key>sourceSize</key>
                <string>{110,120}</string>
            </dict>
            <key>game_btn_ready_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{602,394},{306,136}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,2},{306,136}}</string>
                <key>sourceSize</key>
                <string>{318,138}</string>
            </dict>
            <key>game_btn_ready_press.png</key>
            <dict>
                <key>frame</key>
                <string>{{602,256},{306,136}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,2},{306,136}}</string>
                <key>sourceSize</key>
                <string>{318,138}</string>
            </dict>
            <key>game_btn_setting_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{904,600},{98,116}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,9},{98,116}}</string>
                <key>sourceSize</key>
                <string>{116,132}</string>
            </dict>
            <key>game_btn_setting_press.png</key>
            <dict>
                <key>frame</key>
                <string>{{868,1044},{104,122}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,6},{104,122}}</string>
                <key>sourceSize</key>
                <string>{116,132}</string>
            </dict>
            <key>game_btn_voice_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{524,962},{66,102}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,4},{66,102}}</string>
                <key>sourceSize</key>
                <string>{94,112}</string>
            </dict>
            <key>game_btn_voice_press.png</key>
            <dict>
                <key>frame</key>
                <string>{{529,648},{70,108}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,1},{70,108}}</string>
                <key>sourceSize</key>
                <string>{94,112}</string>
            </dict>
            <key>game_chat_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,1922},{100,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,100}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>game_chat_btn_face_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,542},{84,278}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{84,278}}</string>
                <key>sourceSize</key>
                <string>{86,280}</string>
            </dict>
            <key>game_chat_btn_face_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,456},{84,278}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{84,278}}</string>
                <key>sourceSize</key>
                <string>{86,280}</string>
            </dict>
            <key>game_chat_btn_text_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,370},{84,278}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{84,278}}</string>
                <key>sourceSize</key>
                <string>{86,280}</string>
            </dict>
            <key>game_chat_btn_text_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{932,76},{84,278}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{84,278}}</string>
                <key>sourceSize</key>
                <string>{86,280}</string>
            </dict>
            <key>game_chat_btn_voice_send.png</key>
            <dict>
                <key>frame</key>
                <string>{{604,2},{326,252}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{326,252}}</string>
                <key>sourceSize</key>
                <string>{326,252}</string>
            </dict>
            <key>game_chat_image_xian.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,174},{526,6}}</string>
                <key>offset</key>
                <string>{-23,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,4},{526,6}}</string>
                <key>sourceSize</key>
                <string>{598,16}</string>
            </dict>
            <key>game_chip_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{600,170}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{600,170}}</string>
                <key>sourceSize</key>
                <string>{600,170}</string>
            </dict>
            <key>game_gold_back.png</key>
            <dict>
                <key>frame</key>
                <string>{{282,496},{174,40}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{174,40}}</string>
                <key>sourceSize</key>
                <string>{176,44}</string>
            </dict>
            <key>game_image_banker.png</key>
            <dict>
                <key>frame</key>
                <string>{{516,1066},{48,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,48}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>game_image_clock_back.png</key>
            <dict>
                <key>frame</key>
                <string>{{879,700},{128,132}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,8},{128,132}}</string>
                <key>sourceSize</key>
                <string>{128,140}</string>
            </dict>
            <key>game_image_ready.png</key>
            <dict>
                <key>frame</key>
                <string>{{280,695},{248,130}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{248,130}}</string>
                <key>sourceSize</key>
                <string>{250,134}</string>
            </dict>
            <key>game_label_look_card.png</key>
            <dict>
                <key>frame</key>
                <string>{{996,940},{76,26}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{76,26}}</string>
                <key>sourceSize</key>
                <string>{78,30}</string>
            </dict>
            <key>game_label_out_card.png</key>
            <dict>
                <key>frame</key>
                <string>{{412,695},{58,28}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,2},{58,28}}</string>
                <key>sourceSize</key>
                <string>{64,34}</string>
            </dict>
            <key>game_label_waiting.png</key>
            <dict>
                <key>frame</key>
                <string>{{530,174},{472,70}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,2},{472,70}}</string>
                <key>sourceSize</key>
                <string>{478,72}</string>
            </dict>
            <key>game_look_card_back.png</key>
            <dict>
                <key>frame</key>
                <string>{{527,758},{116,68}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{116,68}}</string>
                <key>sourceSize</key>
                <string>{118,70}</string>
            </dict>
            <key>game_out_card_back.png</key>
            <dict>
                <key>frame</key>
                <string>{{458,496},{116,70}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,70}}</string>
                <key>sourceSize</key>
                <string>{118,70}</string>
            </dict>
            <key>game_time_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{304,304},{206,108}}</string>
                <key>offset</key>
                <string>{0,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{206,108}}</string>
                <key>sourceSize</key>
                <string>{210,120}</string>
            </dict>
            <key>game_userinfo_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{304,182},{210,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{210,120}}</string>
                <key>sourceSize</key>
                <string>{210,120}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>gameScene.png</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7b16a46be31e13a8f369a0f16c7e13c7:1/1$</string>
            <key>textureFileName</key>
            <string>gameScene.png</string>
        </dict>
    </dict>
</plist>
