<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>game_present_selected.png</key>
            <dict>
                <key>frame</key>
                <string>{{822,363},{200,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,200}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>gameuser_all.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,565},{178,48}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{178,48}}</string>
                <key>sourceSize</key>
                <string>{178,50}</string>
            </dict>
            <key>gameuser_arrow_left.png</key>
            <dict>
                <key>frame</key>
                <string>{{94,498},{58,76}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{58,76}}</string>
                <key>sourceSize</key>
                <string>{58,78}</string>
            </dict>
            <key>gameuser_arrow_right.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,480},{56,76}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{56,76}}</string>
                <key>sourceSize</key>
                <string>{58,78}</string>
            </dict>
            <key>gameuser_bg_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{615,228}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{615,228}}</string>
                <key>sourceSize</key>
                <string>{615,230}</string>
            </dict>
            <key>gameuser_bg_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{546,294},{60,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,60}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>gameuser_btn_no_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{619,174},{302,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{302,120}}</string>
                <key>sourceSize</key>
                <string>{302,122}</string>
            </dict>
            <key>gameuser_btn_no_perss.png</key>
            <dict>
                <key>frame</key>
                <string>{{274,232},{270,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,7},{270,108}}</string>
                <key>sourceSize</key>
                <string>{302,122}</string>
            </dict>
            <key>gameuser_btn_yes_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{619,52},{302,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{302,120}}</string>
                <key>sourceSize</key>
                <string>{302,122}</string>
            </dict>
            <key>gameuser_btn_yes_perss.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,232},{270,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,7},{270,108}}</string>
                <key>sourceSize</key>
                <string>{302,122}</string>
            </dict>
            <key>gameuser_di.png</key>
            <dict>
                <key>frame</key>
                <string>{{608,296},{210,212}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{210,212}}</string>
                <key>sourceSize</key>
                <string>{212,212}</string>
            </dict>
            <key>gameuser_img_magic.png</key>
            <dict>
                <key>frame</key>
                <string>{{619,2},{306,48}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{306,48}}</string>
                <key>sourceSize</key>
                <string>{306,50}</string>
            </dict>
            <key>gameuser_img_meili.png</key>
            <dict>
                <key>frame</key>
                <string>{{822,296},{60,58}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{60,58}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>gameuser_img_select.png</key>
            <dict>
                <key>frame</key>
                <string>{{79,818},{58,56}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{58,56}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>gameuser_man.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,508},{44,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,55}}</string>
                <key>sourceSize</key>
                <string>{44,55}</string>
            </dict>
            <key>gameuser_price_di.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,356},{144,42}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,2},{144,42}}</string>
                <key>sourceSize</key>
                <string>{146,44}</string>
            </dict>
            <key>gameuser_renqi.png</key>
            <dict>
                <key>frame</key>
                <string>{{546,232},{60,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,60}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>gameuser_woman.png</key>
            <dict>
                <key>frame</key>
                <string>{{48,508},{44,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,54}}</string>
                <key>sourceSize</key>
                <string>{44,54}</string>
            </dict>
            <key>present_icon_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{52,565},{128,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,33},{128,57}}</string>
                <key>sourceSize</key>
                <string>{142,123}</string>
            </dict>
            <key>present_icon_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{923,259},{102,85}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{21,18},{102,85}}</string>
                <key>sourceSize</key>
                <string>{142,123}</string>
            </dict>
            <key>present_icon_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{46,356},{140,105}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,9},{140,105}}</string>
                <key>sourceSize</key>
                <string>{142,123}</string>
            </dict>
            <key>present_icon_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{111,565},{108,115}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,5},{108,115}}</string>
                <key>sourceSize</key>
                <string>{142,123}</string>
            </dict>
            <key>present_icon_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,885},{132,123}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,0},{132,123}}</string>
                <key>sourceSize</key>
                <string>{142,123}</string>
            </dict>
            <key>present_icon_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,745},{138,75}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,27},{138,75}}</string>
                <key>sourceSize</key>
                <string>{142,123}</string>
            </dict>
            <key>present_icon_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{927,2},{94,123}}</string>
                <key>offset</key>
                <string>{4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,0},{94,123}}</string>
                <key>sourceSize</key>
                <string>{142,123}</string>
            </dict>
            <key>present_icon_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{153,356},{122,105}}</string>
                <key>offset</key>
                <string>{-4,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,10},{122,105}}</string>
                <key>sourceSize</key>
                <string>{142,123}</string>
            </dict>
            <key>present_icon_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{923,127},{130,85}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,21},{130,85}}</string>
                <key>sourceSize</key>
                <string>{142,123}</string>
            </dict>
            <key>present_icon_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{79,695},{114,121}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,0},{114,121}}</string>
                <key>sourceSize</key>
                <string>{142,123}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>gameUserInfo.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:63029c1397b9e9f0c66303132203e18e:1/1$</string>
            <key>textureFileName</key>
            <string>gameUserInfo.png</string>
        </dict>
    </dict>
</plist>
