<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bigchip_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,1816},{76,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,78}}</string>
                <key>sourceSize</key>
                <string>{76,78}</string>
            </dict>
            <key>bigchip_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1628},{76,76}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,76}}</string>
                <key>sourceSize</key>
                <string>{76,78}</string>
            </dict>
            <key>bigchip_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1706},{76,76}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,76}}</string>
                <key>sourceSize</key>
                <string>{76,78}</string>
            </dict>
            <key>bigchip_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,1816},{76,76}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,76}}</string>
                <key>sourceSize</key>
                <string>{76,78}</string>
            </dict>
            <key>bigchip_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,1628},{76,76}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,76}}</string>
                <key>sourceSize</key>
                <string>{76,78}</string>
            </dict>
            <key>card_type_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{801,1214},{274,120}}</string>
                <key>offset</key>
                <string>{1,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{22,15},{274,120}}</string>
                <key>sourceSize</key>
                <string>{316,138}</string>
            </dict>
            <key>card_type_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1506},{274,120}}</string>
                <key>offset</key>
                <string>{1,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,15},{274,120}}</string>
                <key>sourceSize</key>
                <string>{316,138}</string>
            </dict>
            <key>card_type_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1384},{274,120}}</string>
                <key>offset</key>
                <string>{1,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,15},{274,120}}</string>
                <key>sourceSize</key>
                <string>{316,138}</string>
            </dict>
            <key>card_type_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1262},{274,120}}</string>
                <key>offset</key>
                <string>{1,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,15},{274,120}}</string>
                <key>sourceSize</key>
                <string>{316,138}</string>
            </dict>
            <key>card_type_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{278,1255},{274,120}}</string>
                <key>offset</key>
                <string>{1,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{22,15},{274,120}}</string>
                <key>sourceSize</key>
                <string>{316,138}</string>
            </dict>
            <key>card_type_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{400,1252},{274,120}}</string>
                <key>offset</key>
                <string>{1,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{22,15},{274,120}}</string>
                <key>sourceSize</key>
                <string>{316,138}</string>
            </dict>
            <key>card_type_lose_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{525,1208},{274,120}}</string>
                <key>offset</key>
                <string>{1,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,16},{274,120}}</string>
                <key>sourceSize</key>
                <string>{312,136}</string>
            </dict>
            <key>card_type_lose_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{525,1086},{274,120}}</string>
                <key>offset</key>
                <string>{1,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,16},{274,120}}</string>
                <key>sourceSize</key>
                <string>{312,136}</string>
            </dict>
            <key>card_type_lose_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1140},{274,120}}</string>
                <key>offset</key>
                <string>{1,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,16},{274,120}}</string>
                <key>sourceSize</key>
                <string>{312,136}</string>
            </dict>
            <key>card_type_lose_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1018},{274,120}}</string>
                <key>offset</key>
                <string>{1,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,16},{274,120}}</string>
                <key>sourceSize</key>
                <string>{312,136}</string>
            </dict>
            <key>card_type_lose_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{278,979},{274,120}}</string>
                <key>offset</key>
                <string>{1,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,16},{274,120}}</string>
                <key>sourceSize</key>
                <string>{312,136}</string>
            </dict>
            <key>card_type_lose_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{403,976},{274,120}}</string>
                <key>offset</key>
                <string>{1,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,16},{274,120}}</string>
                <key>sourceSize</key>
                <string>{312,136}</string>
            </dict>
            <key>card_type_win_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{528,964},{274,120}}</string>
                <key>offset</key>
                <string>{1,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,15},{274,120}}</string>
                <key>sourceSize</key>
                <string>{316,138}</string>
            </dict>
            <key>card_type_win_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{804,938},{274,120}}</string>
                <key>offset</key>
                <string>{1,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{22,15},{274,120}}</string>
                <key>sourceSize</key>
                <string>{316,138}</string>
            </dict>
            <key>card_type_win_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{528,842},{274,120}}</string>
                <key>offset</key>
                <string>{1,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,15},{274,120}}</string>
                <key>sourceSize</key>
                <string>{316,138}</string>
            </dict>
            <key>card_type_win_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,896},{274,120}}</string>
                <key>offset</key>
                <string>{1,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,15},{274,120}}</string>
                <key>sourceSize</key>
                <string>{316,138}</string>
            </dict>
            <key>card_type_win_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,774},{274,120}}</string>
                <key>offset</key>
                <string>{1,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,15},{274,120}}</string>
                <key>sourceSize</key>
                <string>{316,138}</string>
            </dict>
            <key>card_type_win_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{406,700},{274,120}}</string>
                <key>offset</key>
                <string>{1,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{22,15},{274,120}}</string>
                <key>sourceSize</key>
                <string>{316,138}</string>
            </dict>
            <key>game_all_score_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{480,414},{284,48}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{284,48}}</string>
                <key>sourceSize</key>
                <string>{288,50}</string>
            </dict>
            <key>game_btn_addscore_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,1644},{110,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,120}}</string>
                <key>sourceSize</key>
                <string>{110,120}</string>
            </dict>
            <key>game_btn_addscore_unused.png</key>
            <dict>
                <key>frame</key>
                <string>{{757,1602},{110,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,120}}</string>
                <key>sourceSize</key>
                <string>{110,120}</string>
            </dict>
            <key>game_btn_autofollow_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,658},{276,114}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,12},{276,114}}</string>
                <key>sourceSize</key>
                <string>{300,136}</string>
            </dict>
            <key>game_btn_autofollow_press.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,542},{276,114}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,12},{276,114}}</string>
                <key>sourceSize</key>
                <string>{300,136}</string>
            </dict>
            <key>game_btn_cancelfollow_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,182},{300,136}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{300,136}}</string>
                <key>sourceSize</key>
                <string>{300,136}</string>
            </dict>
            <key>game_btn_cancelfollow_press.png</key>
            <dict>
                <key>frame</key>
                <string>{{602,532},{300,136}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{300,136}}</string>
                <key>sourceSize</key>
                <string>{300,136}</string>
            </dict>
            <key>game_btn_changetable_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{280,735},{120,124}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,1},{120,124}}</string>
                <key>sourceSize</key>
                <string>{126,126}</string>
            </dict>
            <key>game_btn_changetable_press.png</key>
            <dict>
                <key>frame</key>
                <string>{{910,504},{108,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,7},{108,112}}</string>
                <key>sourceSize</key>
                <string>{126,126}</string>
            </dict>
            <key>game_btn_chat_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{879,1704},{108,109}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,109}}</string>
                <key>sourceSize</key>
                <string>{108,109}</string>
            </dict>
            <key>game_btn_chat_press.png</key>
            <dict>
                <key>frame</key>
                <string>{{923,1388},{98,99}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,99}}</string>
                <key>sourceSize</key>
                <string>{98,99}</string>
            </dict>
            <key>game_btn_chip_1_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1916},{100,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,108}}</string>
                <key>sourceSize</key>
                <string>{100,108}</string>
            </dict>
            <key>game_btn_chip_1_press.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1816},{94,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,3},{94,102}}</string>
                <key>sourceSize</key>
                <string>{100,108}</string>
            </dict>
            <key>game_btn_chip_2_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{866,1814},{100,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,108}}</string>
                <key>sourceSize</key>
                <string>{100,108}</string>
            </dict>
            <key>game_btn_chip_2_press.png</key>
            <dict>
                <key>frame</key>
                <string>{{923,1488},{94,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,3},{94,102}}</string>
                <key>sourceSize</key>
                <string>{100,108}</string>
            </dict>
            <key>game_btn_chip_3_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{756,1714},{100,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,108}}</string>
                <key>sourceSize</key>
                <string>{100,108}</string>
            </dict>
            <key>game_btn_chip_3_press.png</key>
            <dict>
                <key>frame</key>
                <string>{{926,1184},{94,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,3},{94,102}}</string>
                <key>sourceSize</key>
                <string>{100,108}</string>
            </dict>
            <key>game_btn_choose_compare.png</key>
            <dict>
                <key>frame</key>
                <string>{{282,456},{165,155}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{165,155}}</string>
                <key>sourceSize</key>
                <string>{165,155}</string>
            </dict>
            <key>game_btn_choose_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{926,938},{244,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,4},{244,96}}</string>
                <key>sourceSize</key>
                <string>{246,104}</string>
            </dict>
            <key>game_btn_choose_press.png</key>
            <dict>
                <key>frame</key>
                <string>{{932,2},{220,86}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,8},{220,86}}</string>
                <key>sourceSize</key>
                <string>{246,104}</string>
            </dict>
            <key>game_btn_compare_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{400,1640},{110,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,120}}</string>
                <key>sourceSize</key>
                <string>{110,120}</string>
            </dict>
            <key>game_btn_compare_unused.png</key>
            <dict>
                <key>frame</key>
                <string>{{522,1534},{110,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,120}}</string>
                <key>sourceSize</key>
                <string>{110,120}</string>
            </dict>
            <key>game_btn_follow_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{882,1592},{110,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,120}}</string>
                <key>sourceSize</key>
                <string>{110,120}</string>
            </dict>
            <key>game_btn_follow_unused.png</key>
            <dict>
                <key>frame</key>
                <string>{{760,1490},{110,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,120}}</string>
                <key>sourceSize</key>
                <string>{110,120}</string>
            </dict>
            <key>game_btn_last_add_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{280,613},{124,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{124,120}}</string>
                <key>sourceSize</key>
                <string>{130,120}</string>
            </dict>
            <key>game_btn_last_add_unused.png</key>
            <dict>
                <key>frame</key>
                <string>{{880,816},{124,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{124,120}}</string>
                <key>sourceSize</key>
                <string>{130,120}</string>
            </dict>
            <key>game_btn_lookcard_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{522,1330},{242,80}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{242,80}}</string>
                <key>sourceSize</key>
                <string>{244,82}</string>
            </dict>
            <key>game_btn_out_card_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{278,1531},{110,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,120}}</string>
                <key>sourceSize</key>
                <string>{110,120}</string>
            </dict>
            <key>game_btn_out_card_unused.png</key>
            <dict>
                <key>frame</key>
                <string>{{400,1528},{110,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,120}}</string>
                <key>sourceSize</key>
                <string>{110,120}</string>
            </dict>
            <key>game_btn_ready_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{602,394},{306,136}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,2},{306,136}}</string>
                <key>sourceSize</key>
                <string>{318,138}</string>
            </dict>
            <key>game_btn_ready_press.png</key>
            <dict>
                <key>frame</key>
                <string>{{602,256},{306,136}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,2},{306,136}}</string>
                <key>sourceSize</key>
                <string>{318,138}</string>
            </dict>
            <key>game_btn_setting_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{278,857},{120,123}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,123}}</string>
                <key>sourceSize</key>
                <string>{120,123}</string>
            </dict>
            <key>game_btn_setting_press.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,1534},{108,111}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,111}}</string>
                <key>sourceSize</key>
                <string>{108,111}</string>
            </dict>
            <key>game_btn_voice_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{522,1646},{108,109}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,109}}</string>
                <key>sourceSize</key>
                <string>{108,109}</string>
            </dict>
            <key>game_btn_voice_press.png</key>
            <dict>
                <key>frame</key>
                <string>{{923,1288},{98,99}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,99}}</string>
                <key>sourceSize</key>
                <string>{98,99}</string>
            </dict>
            <key>game_chat_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,1916},{100,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,100}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>game_chat_btn_face_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,456},{84,278}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{84,278}}</string>
                <key>sourceSize</key>
                <string>{86,280}</string>
            </dict>
            <key>game_chat_btn_face_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{600,756},{84,278}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{84,278}}</string>
                <key>sourceSize</key>
                <string>{86,280}</string>
            </dict>
            <key>game_chat_btn_text_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{600,670},{84,278}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{84,278}}</string>
                <key>sourceSize</key>
                <string>{86,280}</string>
            </dict>
            <key>game_chat_btn_text_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{932,224},{84,278}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{84,278}}</string>
                <key>sourceSize</key>
                <string>{86,280}</string>
            </dict>
            <key>game_chat_btn_voice_send.png</key>
            <dict>
                <key>frame</key>
                <string>{{604,2},{326,252}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{326,252}}</string>
                <key>sourceSize</key>
                <string>{326,252}</string>
            </dict>
            <key>game_chat_image_xian.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,174},{526,6}}</string>
                <key>offset</key>
                <string>{-23,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,4},{526,6}}</string>
                <key>sourceSize</key>
                <string>{598,16}</string>
            </dict>
            <key>game_chat_plane_back.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,320},{300,134}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{300,134}}</string>
                <key>sourceSize</key>
                <string>{300,136}</string>
            </dict>
            <key>game_chip_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{600,170}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{600,170}}</string>
                <key>sourceSize</key>
                <string>{600,170}</string>
            </dict>
            <key>game_gold_back.png</key>
            <dict>
                <key>frame</key>
                <string>{{304,414},{174,40}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{174,40}}</string>
                <key>sourceSize</key>
                <string>{176,44}</string>
            </dict>
            <key>game_image_banker.png</key>
            <dict>
                <key>frame</key>
                <string>{{528,766},{48,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,48}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>game_image_clock_back.png</key>
            <dict>
                <key>frame</key>
                <string>{{880,686},{128,132}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,8},{128,132}}</string>
                <key>sourceSize</key>
                <string>{128,140}</string>
            </dict>
            <key>game_image_ready.png</key>
            <dict>
                <key>frame</key>
                <string>{{522,1412},{236,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,7},{236,120}}</string>
                <key>sourceSize</key>
                <string>{250,134}</string>
            </dict>
            <key>game_label_look_card.png</key>
            <dict>
                <key>frame</key>
                <string>{{449,516},{76,26}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{76,26}}</string>
                <key>sourceSize</key>
                <string>{78,30}</string>
            </dict>
            <key>game_label_out_card.png</key>
            <dict>
                <key>frame</key>
                <string>{{449,456},{58,28}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,2},{58,28}}</string>
                <key>sourceSize</key>
                <string>{64,34}</string>
            </dict>
            <key>game_label_waiting.png</key>
            <dict>
                <key>frame</key>
                <string>{{530,174},{472,70}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,2},{472,70}}</string>
                <key>sourceSize</key>
                <string>{478,72}</string>
            </dict>
            <key>game_look_card_back.png</key>
            <dict>
                <key>frame</key>
                <string>{{530,648},{116,68}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{116,68}}</string>
                <key>sourceSize</key>
                <string>{118,70}</string>
            </dict>
            <key>game_out_card_back.png</key>
            <dict>
                <key>frame</key>
                <string>{{904,614},{116,70}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,70}}</string>
                <key>sourceSize</key>
                <string>{118,70}</string>
            </dict>
            <key>game_time_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{304,304},{206,108}}</string>
                <key>offset</key>
                <string>{0,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{206,108}}</string>
                <key>sourceSize</key>
                <string>{210,120}</string>
            </dict>
            <key>game_userinfo_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{304,182},{210,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{210,120}}</string>
                <key>sourceSize</key>
                <string>{210,120}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>gameScene.png</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8962904809671dad19d6a8e9b8479ec9:1/1$</string>
            <key>textureFileName</key>
            <string>gameScene.png</string>
        </dict>
    </dict>
</plist>
