<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bigchip_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,1545},{98,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{98,96}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>bigchip_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1561},{94,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,3},{94,94}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>bigchip_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{538,1279},{94,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,4},{94,92}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>bigchip_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{262,1509},{98,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{98,96}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>bigchip_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{388,1503},{98,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{98,96}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>card_type_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{762,1034},{274,120}}</string>
                <key>offset</key>
                <string>{1,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,15},{274,120}}</string>
                <key>sourceSize</key>
                <string>{316,138}</string>
            </dict>
            <key>card_type_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1446,999},{274,120}}</string>
                <key>offset</key>
                <string>{1,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,15},{274,120}}</string>
                <key>sourceSize</key>
                <string>{316,138}</string>
            </dict>
            <key>card_type_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1038,912},{274,120}}</string>
                <key>offset</key>
                <string>{1,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,15},{274,120}}</string>
                <key>sourceSize</key>
                <string>{316,138}</string>
            </dict>
            <key>card_type_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{762,912},{274,120}}</string>
                <key>offset</key>
                <string>{1,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,15},{274,120}}</string>
                <key>sourceSize</key>
                <string>{316,138}</string>
            </dict>
            <key>card_type_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1449,877},{274,120}}</string>
                <key>offset</key>
                <string>{1,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,15},{274,120}}</string>
                <key>sourceSize</key>
                <string>{316,138}</string>
            </dict>
            <key>card_type_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1097},{274,120}}</string>
                <key>offset</key>
                <string>{1,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,15},{274,120}}</string>
                <key>sourceSize</key>
                <string>{316,138}</string>
            </dict>
            <key>card_type_lose_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{278,1091},{274,120}}</string>
                <key>offset</key>
                <string>{1,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,16},{274,120}}</string>
                <key>sourceSize</key>
                <string>{312,136}</string>
            </dict>
            <key>card_type_lose_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,975},{274,120}}</string>
                <key>offset</key>
                <string>{1,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,16},{274,120}}</string>
                <key>sourceSize</key>
                <string>{312,136}</string>
            </dict>
            <key>card_type_lose_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{278,969},{274,120}}</string>
                <key>offset</key>
                <string>{1,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,16},{274,120}}</string>
                <key>sourceSize</key>
                <string>{312,136}</string>
            </dict>
            <key>card_type_lose_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{640,830},{274,120}}</string>
                <key>offset</key>
                <string>{1,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,16},{274,120}}</string>
                <key>sourceSize</key>
                <string>{312,136}</string>
            </dict>
            <key>card_type_lose_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1041,790},{274,120}}</string>
                <key>offset</key>
                <string>{1,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,16},{274,120}}</string>
                <key>sourceSize</key>
                <string>{312,136}</string>
            </dict>
            <key>card_type_lose_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{765,790},{274,120}}</string>
                <key>offset</key>
                <string>{1,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,16},{274,120}}</string>
                <key>sourceSize</key>
                <string>{312,136}</string>
            </dict>
            <key>card_type_win_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1459,755},{274,120}}</string>
                <key>offset</key>
                <string>{1,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,15},{274,120}}</string>
                <key>sourceSize</key>
                <string>{316,138}</string>
            </dict>
            <key>card_type_win_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1041,668},{274,120}}</string>
                <key>offset</key>
                <string>{1,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,15},{274,120}}</string>
                <key>sourceSize</key>
                <string>{316,138}</string>
            </dict>
            <key>card_type_win_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{765,668},{274,120}}</string>
                <key>offset</key>
                <string>{1,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,15},{274,120}}</string>
                <key>sourceSize</key>
                <string>{316,138}</string>
            </dict>
            <key>card_type_win_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,853},{274,120}}</string>
                <key>offset</key>
                <string>{1,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,15},{274,120}}</string>
                <key>sourceSize</key>
                <string>{316,138}</string>
            </dict>
            <key>card_type_win_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{282,847},{274,120}}</string>
                <key>offset</key>
                <string>{1,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,15},{274,120}}</string>
                <key>sourceSize</key>
                <string>{316,138}</string>
            </dict>
            <key>card_type_win_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{643,554},{274,120}}</string>
                <key>offset</key>
                <string>{1,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{22,15},{274,120}}</string>
                <key>sourceSize</key>
                <string>{316,138}</string>
            </dict>
            <key>game_all_score_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{1464,5},{490,142}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,4},{490,142}}</string>
                <key>sourceSize</key>
                <string>{500,150}</string>
            </dict>
            <key>game_bigchip_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{538,1375},{90,76}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,9},{90,76}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>game_bigchip_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{554,1187},{90,76}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,9},{90,76}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>game_bigchip_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{554,1095},{90,76}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,9},{90,76}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>game_bigchip_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{554,1003},{90,76}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,9},{90,76}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>game_bigchip_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{562,757},{90,76}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,9},{90,76}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>game_btn_addscore_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{632,1238},{130,128}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,128}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>game_btn_addscore_press.png</key>
            <dict>
                <key>frame</key>
                <string>{{632,1370},{124,124}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,1},{124,124}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>game_btn_addscore_unused.png</key>
            <dict>
                <key>frame</key>
                <string>{{762,1156},{130,128}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,128}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>game_btn_autofollow_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,429},{306,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{306,108}}</string>
                <key>sourceSize</key>
                <string>{306,110}</string>
            </dict>
            <key>game_btn_cancelfollow_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{1464,645},{306,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{306,108}}</string>
                <key>sourceSize</key>
                <string>{306,110}</string>
            </dict>
            <key>game_btn_changetable_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1317},{146,148}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,4},{146,148}}</string>
                <key>sourceSize</key>
                <string>{152,152}</string>
            </dict>
            <key>game_btn_changetable_press.png</key>
            <dict>
                <key>frame</key>
                <string>{{1317,668},{138,140}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,8},{138,140}}</string>
                <key>sourceSize</key>
                <string>{152,152}</string>
            </dict>
            <key>game_btn_chat_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{762,1286},{124,124}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,4},{124,124}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>game_btn_chat_press.png</key>
            <dict>
                <key>frame</key>
                <string>{{1792,401},{118,118}}</string>
                <key>offset</key>
                <string>{-1,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,8},{118,118}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>game_btn_chip_1_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,1443},{100,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,108}}</string>
                <key>sourceSize</key>
                <string>{100,108}</string>
            </dict>
            <key>game_btn_chip_1_press.png</key>
            <dict>
                <key>frame</key>
                <string>{{492,1453},{94,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,3},{94,102}}</string>
                <key>sourceSize</key>
                <string>{100,108}</string>
            </dict>
            <key>game_btn_chip_2_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{278,1407},{100,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,108}}</string>
                <key>sourceSize</key>
                <string>{100,108}</string>
            </dict>
            <key>game_btn_chip_2_press.png</key>
            <dict>
                <key>frame</key>
                <string>{{388,1407},{94,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,3},{94,102}}</string>
                <key>sourceSize</key>
                <string>{100,108}</string>
            </dict>
            <key>game_btn_chip_3_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{1146,1164},{100,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,108}}</string>
                <key>sourceSize</key>
                <string>{100,108}</string>
            </dict>
            <key>game_btn_chip_3_press.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1465},{94,102}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,3},{94,102}}</string>
                <key>sourceSize</key>
                <string>{100,108}</string>
            </dict>
            <key>game_btn_choose_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1219},{244,96}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,4},{244,96}}</string>
                <key>sourceSize</key>
                <string>{246,104}</string>
            </dict>
            <key>game_btn_choose_press.png</key>
            <dict>
                <key>frame</key>
                <string>{{1959,2},{220,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,9},{220,86}}</string>
                <key>sourceSize</key>
                <string>{246,104}</string>
            </dict>
            <key>game_btn_compare_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{1903,926},{130,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,130}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>game_btn_compare_press.png</key>
            <dict>
                <key>frame</key>
                <string>{{894,1282},{124,124}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{124,124}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>game_btn_compare_unused.png</key>
            <dict>
                <key>frame</key>
                <string>{{1772,723},{130,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,130}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>game_btn_follow_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{1302,1068},{130,128}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,128}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>game_btn_follow_press.png</key>
            <dict>
                <key>frame</key>
                <string>{{1020,1164},{124,124}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{124,124}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>game_btn_follow_unused.png</key>
            <dict>
                <key>frame</key>
                <string>{{1170,1034},{130,128}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,128}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>game_btn_last_add_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{1038,1034},{130,128}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,128}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>game_btn_last_add_unused.png</key>
            <dict>
                <key>frame</key>
                <string>{{632,1106},{130,128}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,128}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>game_btn_lookcard_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{1464,535},{306,108}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{306,108}}</string>
                <key>sourceSize</key>
                <string>{306,110}</string>
            </dict>
            <key>game_btn_out_card_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{1314,938},{130,128}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{130,128}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>game_btn_out_card_press.png</key>
            <dict>
                <key>frame</key>
                <string>{{894,1156},{124,124}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,4},{124,124}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>game_btn_out_card_unused.png</key>
            <dict>
                <key>frame</key>
                <string>{{1317,808},{130,128}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{130,128}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>game_btn_ready_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,539},{300,120}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{300,120}}</string>
                <key>sourceSize</key>
                <string>{300,122}</string>
            </dict>
            <key>game_btn_ready_press.png</key>
            <dict>
                <key>frame</key>
                <string>{{646,266},{286,112}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,6},{286,112}}</string>
                <key>sourceSize</key>
                <string>{300,122}</string>
            </dict>
            <key>game_btn_setting_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{1722,1077},{146,148}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,4},{146,148}}</string>
                <key>sourceSize</key>
                <string>{152,152}</string>
            </dict>
            <key>game_btn_setting_press.png</key>
            <dict>
                <key>frame</key>
                <string>{{1904,786},{138,140}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,8},{138,140}}</string>
                <key>sourceSize</key>
                <string>{152,152}</string>
            </dict>
            <key>game_btn_voice_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,1317},{124,124}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,4},{124,124}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>game_btn_voice_press.png</key>
            <dict>
                <key>frame</key>
                <string>{{1792,281},{118,118}}</string>
                <key>offset</key>
                <string>{-1,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,9},{118,118}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>game_chat_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{766,2},{664,696}}</string>
                <key>offset</key>
                <string>{1,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,8},{664,696}}</string>
                <key>sourceSize</key>
                <string>{668,704}</string>
            </dict>
            <key>game_chat_btn_face_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,763},{88,278}}</string>
                <key>offset</key>
                <string>{5,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,1},{88,278}}</string>
                <key>sourceSize</key>
                <string>{100,280}</string>
            </dict>
            <key>game_chat_btn_face_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,661},{100,278}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,278}}</string>
                <key>sourceSize</key>
                <string>{100,280}</string>
            </dict>
            <key>game_chat_btn_text_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{282,757},{88,278}}</string>
                <key>offset</key>
                <string>{5,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,2},{88,278}}</string>
                <key>sourceSize</key>
                <string>{100,280}</string>
            </dict>
            <key>game_chat_btn_text_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{304,655},{100,278}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{100,278}}</string>
                <key>sourceSize</key>
                <string>{100,280}</string>
            </dict>
            <key>game_chat_btn_voice_send.png</key>
            <dict>
                <key>frame</key>
                <string>{{1464,281},{326,252}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{326,252}}</string>
                <key>sourceSize</key>
                <string>{326,252}</string>
            </dict>
            <key>game_chat_image_xian.png</key>
            <dict>
                <key>frame</key>
                <string>{{1464,2},{493,1}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{493,1}}</string>
                <key>sourceSize</key>
                <string>{493,1}</string>
            </dict>
            <key>game_chat_plane_back.png</key>
            <dict>
                <key>frame</key>
                <string>{{1912,224},{300,134}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{300,134}}</string>
                <key>sourceSize</key>
                <string>{300,136}</string>
            </dict>
            <key>game_chip_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,257},{600,170}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{600,170}}</string>
                <key>sourceSize</key>
                <string>{600,170}</string>
            </dict>
            <key>game_gold_back.png</key>
            <dict>
                <key>frame</key>
                <string>{{604,257},{174,40}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{174,40}}</string>
                <key>sourceSize</key>
                <string>{176,44}</string>
            </dict>
            <key>game_image_banker.png</key>
            <dict>
                <key>frame</key>
                <string>{{593,542},{48,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,48}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>game_image_clock_back.png</key>
            <dict>
                <key>frame</key>
                <string>{{1772,593},{128,132}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,8},{128,132}}</string>
                <key>sourceSize</key>
                <string>{128,140}</string>
            </dict>
            <key>game_image_guang_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{762,192}}</string>
                <key>offset</key>
                <string>{11,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,0},{762,192}}</string>
                <key>sourceSize</key>
                <string>{784,196}</string>
            </dict>
            <key>game_image_guang_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{278,1213},{192,258}}</string>
                <key>offset</key>
                <string>{2,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,8},{192,258}}</string>
                <key>sourceSize</key>
                <string>{198,266}</string>
            </dict>
            <key>game_image_ready.png</key>
            <dict>
                <key>frame</key>
                <string>{{558,849},{152,80}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,6},{152,80}}</string>
                <key>sourceSize</key>
                <string>{160,86}</string>
            </dict>
            <key>game_image_reconnect_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{304,542},{287,111}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{287,111}}</string>
                <key>sourceSize</key>
                <string>{287,111}</string>
            </dict>
            <key>game_image_reconnect_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{310,429},{287,111}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{287,111}}</string>
                <key>sourceSize</key>
                <string>{287,111}</string>
            </dict>
            <key>game_label_look_card.png</key>
            <dict>
                <key>frame</key>
                <string>{{1722,1003},{166,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{166,72}}</string>
                <key>sourceSize</key>
                <string>{170,72}</string>
            </dict>
            <key>game_label_lose_card.png</key>
            <dict>
                <key>frame</key>
                <string>{{1725,929},{166,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{166,72}}</string>
                <key>sourceSize</key>
                <string>{170,72}</string>
            </dict>
            <key>game_label_out_card.png</key>
            <dict>
                <key>frame</key>
                <string>{{1735,855},{166,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{166,72}}</string>
                <key>sourceSize</key>
                <string>{170,72}</string>
            </dict>
            <key>game_label_waiting.png</key>
            <dict>
                <key>frame</key>
                <string>{{1464,149},{472,70}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{472,70}}</string>
                <key>sourceSize</key>
                <string>{478,72}</string>
            </dict>
            <key>game_label_waiting_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1464,221},{446,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{446,58}}</string>
                <key>sourceSize</key>
                <string>{446,58}</string>
            </dict>
            <key>game_label_waiting_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,196},{642,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{642,59}}</string>
                <key>sourceSize</key>
                <string>{642,59}</string>
            </dict>
            <key>game_look_card_back.png</key>
            <dict>
                <key>frame</key>
                <string>{{646,196},{116,68}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{116,68}}</string>
                <key>sourceSize</key>
                <string>{118,70}</string>
            </dict>
            <key>game_out_card_back.png</key>
            <dict>
                <key>frame</key>
                <string>{{1792,521},{116,70}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,70}}</string>
                <key>sourceSize</key>
                <string>{118,70}</string>
            </dict>
            <key>game_time_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{1890,1058},{270,151}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{270,151}}</string>
                <key>sourceSize</key>
                <string>{270,151}</string>
            </dict>
            <key>game_userinfo_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{1910,526},{258,134}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,2},{258,134}}</string>
                <key>sourceSize</key>
                <string>{260,136}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>gameScene.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f4f5ef3d135d45b89f3f25f7d40bce1b:1/1$</string>
            <key>textureFileName</key>
            <string>gameScene.png</string>
        </dict>
    </dict>
</plist>
