<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>login_btn_account_login.png</key>
            <dict>
                <key>frame</key>
                <string>{{274,1642},{388,134}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{388,134}}</string>
                <key>sourceSize</key>
                <string>{388,136}</string>
            </dict>
            <key>login_btn_comfirm_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{641,374},{256,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,3},{256,108}}</string>
                <key>sourceSize</key>
                <string>{260,114}</string>
            </dict>
            <key>login_btn_comfirm_press.png</key>
            <dict>
                <key>frame</key>
                <string>{{641,696},{244,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,5},{244,104}}</string>
                <key>sourceSize</key>
                <string>{260,114}</string>
            </dict>
            <key>login_btn_confirm_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{641,374},{256,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,3},{256,108}}</string>
                <key>sourceSize</key>
                <string>{260,114}</string>
            </dict>
            <key>login_btn_confirm_press.png</key>
            <dict>
                <key>frame</key>
                <string>{{641,696},{244,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,5},{244,104}}</string>
                <key>sourceSize</key>
                <string>{260,114}</string>
            </dict>
            <key>login_btn_guest_login.png</key>
            <dict>
                <key>frame</key>
                <string>{{138,1642},{388,134}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{388,134}}</string>
                <key>sourceSize</key>
                <string>{388,136}</string>
            </dict>
            <key>login_btn_guest_login_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1642},{388,134}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,3},{388,134}}</string>
                <key>sourceSize</key>
                <string>{390,140}</string>
            </dict>
            <key>login_btn_guest_login_press.png</key>
            <dict>
                <key>frame</key>
                <string>{{652,134},{368,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,6},{368,128}}</string>
                <key>sourceSize</key>
                <string>{390,140}</string>
            </dict>
            <key>login_btn_login_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{910,264},{256,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,3},{256,108}}</string>
                <key>sourceSize</key>
                <string>{260,114}</string>
            </dict>
            <key>login_btn_login_press.png</key>
            <dict>
                <key>frame</key>
                <string>{{641,590},{244,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,5},{244,104}}</string>
                <key>sourceSize</key>
                <string>{260,114}</string>
            </dict>
            <key>login_btn_qq_login.png</key>
            <dict>
                <key>frame</key>
                <string>{{887,912},{388,134}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{388,134}}</string>
                <key>sourceSize</key>
                <string>{388,136}</string>
            </dict>
            <key>login_btn_register_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{652,264},{256,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,3},{256,108}}</string>
                <key>sourceSize</key>
                <string>{260,114}</string>
            </dict>
            <key>login_btn_register_press.png</key>
            <dict>
                <key>frame</key>
                <string>{{641,484},{244,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,5},{244,104}}</string>
                <key>sourceSize</key>
                <string>{260,114}</string>
            </dict>
            <key>login_btn_send_gray.png</key>
            <dict>
                <key>frame</key>
                <string>{{641,936},{178,76}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,2},{178,76}}</string>
                <key>sourceSize</key>
                <string>{182,80}</string>
            </dict>
            <key>login_btn_send_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{641,858},{178,76}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,2},{178,76}}</string>
                <key>sourceSize</key>
                <string>{182,80}</string>
            </dict>
            <key>login_btn_send_press.png</key>
            <dict>
                <key>frame</key>
                <string>{{641,1064},{170,72}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,4},{170,72}}</string>
                <key>sourceSize</key>
                <string>{182,80}</string>
            </dict>
            <key>login_btn_weixin_login.png</key>
            <dict>
                <key>frame</key>
                <string>{{887,522},{388,134}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{388,134}}</string>
                <key>sourceSize</key>
                <string>{388,136}</string>
            </dict>
            <key>login_btn_weixin_login_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{641,1250},{390,136}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{390,136}}</string>
                <key>sourceSize</key>
                <string>{390,140}</string>
            </dict>
            <key>login_btn_weixin_login_press.png</key>
            <dict>
                <key>frame</key>
                <string>{{652,2},{370,130}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,4},{370,130}}</string>
                <key>sourceSize</key>
                <string>{390,140}</string>
            </dict>
            <key>login_image_input.png</key>
            <dict>
                <key>frame</key>
                <string>{{821,924},{60,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,62}}</string>
                <key>sourceSize</key>
                <string>{60,62}</string>
            </dict>
            <key>login_image_logo.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{648,298}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,0},{648,298}}</string>
                <key>sourceSize</key>
                <string>{668,298}</string>
            </dict>
            <key>login_image_rem_select.png</key>
            <dict>
                <key>frame</key>
                <string>{{821,858},{64,64}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{64,64}}</string>
                <key>sourceSize</key>
                <string>{66,66}</string>
            </dict>
            <key>login_image_tipbox.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,302},{1040,637}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1040,637}}</string>
                <key>sourceSize</key>
                <string>{1040,637}</string>
            </dict>
            <key>login_text_jzmm.png</key>
            <dict>
                <key>frame</key>
                <string>{{865,1302},{154,42}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{154,42}}</string>
                <key>sourceSize</key>
                <string>{158,46}</string>
            </dict>
            <key>login_text_mm.png</key>
            <dict>
                <key>frame</key>
                <string>{{641,1194},{164,54}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{164,54}}</string>
                <key>sourceSize</key>
                <string>{170,54}</string>
            </dict>
            <key>login_text_nc.png</key>
            <dict>
                <key>frame</key>
                <string>{{809,1164},{166,54}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{166,54}}</string>
                <key>sourceSize</key>
                <string>{170,56}</string>
            </dict>
            <key>login_text_sjhm.png</key>
            <dict>
                <key>frame</key>
                <string>{{641,802},{229,54}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{229,54}}</string>
                <key>sourceSize</key>
                <string>{233,54}</string>
            </dict>
            <key>login_text_wjmm.png</key>
            <dict>
                <key>frame</key>
                <string>{{641,1014},{174,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{174,48}}</string>
                <key>sourceSize</key>
                <string>{178,52}</string>
            </dict>
            <key>login_text_yzm.png</key>
            <dict>
                <key>frame</key>
                <string>{{821,986},{176,54}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{176,54}}</string>
                <key>sourceSize</key>
                <string>{180,54}</string>
            </dict>
            <key>login_text_zh.png</key>
            <dict>
                <key>frame</key>
                <string>{{641,1138},{166,54}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{166,54}}</string>
                <key>sourceSize</key>
                <string>{170,54}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>loginScene.png</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4da7c826fb0b5d7665f1e9b95fcbf8f6:1/1$</string>
            <key>textureFileName</key>
            <string>loginScene.png</string>
        </dict>
    </dict>
</plist>
