<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>login_btn_account_login.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,188},{388,134}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{388,134}}</string>
                <key>sourceSize</key>
                <string>{388,136}</string>
            </dict>
            <key>login_btn_comfirm_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{492,274},{266,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{266,98}}</string>
                <key>sourceSize</key>
                <string>{268,98}</string>
            </dict>
            <key>login_btn_confirm_press.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,524},{266,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{266,98}}</string>
                <key>sourceSize</key>
                <string>{268,98}</string>
            </dict>
            <key>login_btn_guest_login.png</key>
            <dict>
                <key>frame</key>
                <string>{{494,138},{388,134}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{388,134}}</string>
                <key>sourceSize</key>
                <string>{388,136}</string>
            </dict>
            <key>login_btn_login_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,424},{266,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{266,98}}</string>
                <key>sourceSize</key>
                <string>{268,98}</string>
            </dict>
            <key>login_btn_login_press.png</key>
            <dict>
                <key>frame</key>
                <string>{{270,324},{266,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{266,98}}</string>
                <key>sourceSize</key>
                <string>{268,98}</string>
            </dict>
            <key>login_btn_qq_login.png</key>
            <dict>
                <key>frame</key>
                <string>{{884,2},{388,134}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{388,134}}</string>
                <key>sourceSize</key>
                <string>{388,136}</string>
            </dict>
            <key>login_btn_register_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,324},{266,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{266,98}}</string>
                <key>sourceSize</key>
                <string>{268,98}</string>
            </dict>
            <key>login_btn_register_press.png</key>
            <dict>
                <key>frame</key>
                <string>{{392,188},{266,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{266,98}}</string>
                <key>sourceSize</key>
                <string>{268,98}</string>
            </dict>
            <key>login_btn_send_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{832,392},{190,70}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{190,70}}</string>
                <key>sourceSize</key>
                <string>{194,70}</string>
            </dict>
            <key>login_btn_send_press.png</key>
            <dict>
                <key>frame</key>
                <string>{{760,366},{190,70}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{190,70}}</string>
                <key>sourceSize</key>
                <string>{194,70}</string>
            </dict>
            <key>login_btn_weixin_login.png</key>
            <dict>
                <key>frame</key>
                <string>{{494,2},{388,134}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{388,134}}</string>
                <key>sourceSize</key>
                <string>{388,136}</string>
            </dict>
            <key>login_image_logo.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{490,184}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,3},{490,184}}</string>
                <key>sourceSize</key>
                <string>{504,192}</string>
            </dict>
            <key>login_image_rem_select.png</key>
            <dict>
                <key>frame</key>
                <string>{{760,274},{90,98}}</string>
                <key>offset</key>
                <string>{2,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,12},{90,98}}</string>
                <key>sourceSize</key>
                <string>{108,118}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>loginScene.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6ca373fdd996828251907af4951daec6:1/1$</string>
            <key>textureFileName</key>
            <string>loginScene.png</string>
        </dict>
    </dict>
</plist>
