<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>plaza_btn_add_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,456},{80,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,82}}</string>
                <key>sourceSize</key>
                <string>{80,82}</string>
            </dict>
            <key>plaza_btn_add_press.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,372},{80,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,82}}</string>
                <key>sourceSize</key>
                <string>{80,82}</string>
            </dict>
            <key>plaza_btn_bank_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{604,1346},{134,110}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,8},{134,110}}</string>
                <key>sourceSize</key>
                <string>{136,126}</string>
            </dict>
            <key>plaza_btn_bank_press.png</key>
            <dict>
                <key>frame</key>
                <string>{{515,1898},{134,110}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,8},{134,110}}</string>
                <key>sourceSize</key>
                <string>{136,126}</string>
            </dict>
            <key>plaza_btn_binding_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{374,600},{280,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{280,104}}</string>
                <key>sourceSize</key>
                <string>{282,104}</string>
            </dict>
            <key>plaza_btn_binding_press.png</key>
            <dict>
                <key>frame</key>
                <string>{{268,600},{280,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{280,104}}</string>
                <key>sourceSize</key>
                <string>{282,104}</string>
            </dict>
            <key>plaza_btn_changeface_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,600},{280,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{280,104}}</string>
                <key>sourceSize</key>
                <string>{282,104}</string>
            </dict>
            <key>plaza_btn_changeface_press.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,492},{280,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{280,104}}</string>
                <key>sourceSize</key>
                <string>{282,104}</string>
            </dict>
            <key>plaza_btn_changepwd_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{388,1698},{280,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{280,104}}</string>
                <key>sourceSize</key>
                <string>{282,104}</string>
            </dict>
            <key>plaza_btn_changepwd_press.png</key>
            <dict>
                <key>frame</key>
                <string>{{282,1698},{280,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{280,104}}</string>
                <key>sourceSize</key>
                <string>{282,104}</string>
            </dict>
            <key>plaza_btn_exchange_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{524,982},{136,116}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,8},{136,116}}</string>
                <key>sourceSize</key>
                <string>{136,126}</string>
            </dict>
            <key>plaza_btn_exchange_press.png</key>
            <dict>
                <key>frame</key>
                <string>{{869,588},{136,116}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,8},{136,116}}</string>
                <key>sourceSize</key>
                <string>{136,126}</string>
            </dict>
            <key>plaza_btn_ranklist_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{492,1208},{136,118}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{136,118}}</string>
                <key>sourceSize</key>
                <string>{136,126}</string>
            </dict>
            <key>plaza_btn_ranklist_press.png</key>
            <dict>
                <key>frame</key>
                <string>{{480,848},{136,118}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{136,118}}</string>
                <key>sourceSize</key>
                <string>{136,126}</string>
            </dict>
            <key>plaza_btn_rule_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{494,1760},{136,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,8},{136,110}}</string>
                <key>sourceSize</key>
                <string>{136,126}</string>
            </dict>
            <key>plaza_btn_rule_press.png</key>
            <dict>
                <key>frame</key>
                <string>{{494,1622},{136,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,8},{136,110}}</string>
                <key>sourceSize</key>
                <string>{136,126}</string>
            </dict>
            <key>plaza_btn_select.png</key>
            <dict>
                <key>frame</key>
                <string>{{1968,492},{74,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,1},{74,78}}</string>
                <key>sourceSize</key>
                <string>{82,80}</string>
            </dict>
            <key>plaza_btn_service_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{728,729},{136,114}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{136,114}}</string>
                <key>sourceSize</key>
                <string>{136,126}</string>
            </dict>
            <key>plaza_btn_service_press.png</key>
            <dict>
                <key>frame</key>
                <string>{{618,848},{136,114}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{136,114}}</string>
                <key>sourceSize</key>
                <string>{136,126}</string>
            </dict>
            <key>plaza_btn_setting_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{492,1484},{136,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,8},{136,110}}</string>
                <key>sourceSize</key>
                <string>{136,126}</string>
            </dict>
            <key>plaza_btn_setting_press.png</key>
            <dict>
                <key>frame</key>
                <string>{{492,1346},{136,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,8},{136,110}}</string>
                <key>sourceSize</key>
                <string>{136,126}</string>
            </dict>
            <key>plaza_btn_shop_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{270,982},{184,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{184,200}}</string>
                <key>sourceSize</key>
                <string>{184,200}</string>
            </dict>
            <key>plaza_btn_shop_press.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,982},{184,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{184,200}}</string>
                <key>sourceSize</key>
                <string>{184,200}</string>
            </dict>
            <key>plaza_image_down_back.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{1530,106}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1530,106}}</string>
                <key>sourceSize</key>
                <string>{1530,108}</string>
            </dict>
            <key>plaza_image_exchange.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,882},{98,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,84}}</string>
                <key>sourceSize</key>
                <string>{98,84}</string>
            </dict>
            <key>plaza_image_gold.png</key>
            <dict>
                <key>frame</key>
                <string>{{248,882},{88,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,88}}</string>
                <key>sourceSize</key>
                <string>{88,88}</string>
            </dict>
            <key>plaza_image_notice_back.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,110},{984,60}}</string>
                <key>offset</key>
                <string>{-25,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{984,60}}</string>
                <key>sourceSize</key>
                <string>{1034,60}</string>
            </dict>
            <key>plaza_image_room_back_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1208},{488,488}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{488,488}}</string>
                <key>sourceSize</key>
                <string>{488,488}</string>
            </dict>
            <key>plaza_image_room_back_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1478,492},{488,488}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{488,488}}</string>
                <key>sourceSize</key>
                <string>{488,488}</string>
            </dict>
            <key>plaza_image_room_back_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{988,110},{488,488}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{488,488}}</string>
                <key>sourceSize</key>
                <string>{488,488}</string>
            </dict>
            <key>plaza_image_room_back_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1534,2},{488,488}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{488,488}}</string>
                <key>sourceSize</key>
                <string>{488,488}</string>
            </dict>
            <key>plaza_image_room_down_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{524,428},{404,158}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{404,158}}</string>
                <key>sourceSize</key>
                <string>{404,158}</string>
            </dict>
            <key>plaza_image_room_down_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,540},{404,158}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{404,158}}</string>
                <key>sourceSize</key>
                <string>{404,158}</string>
            </dict>
            <key>plaza_image_room_down_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,332},{404,158}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{404,158}}</string>
                <key>sourceSize</key>
                <string>{404,158}</string>
            </dict>
            <key>plaza_image_room_down_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,172},{404,158}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{404,158}}</string>
                <key>sourceSize</key>
                <string>{404,158}</string>
            </dict>
            <key>plaza_image_userinfo_back.png</key>
            <dict>
                <key>frame</key>
                <string>{{524,262},{418,164}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{418,164}}</string>
                <key>sourceSize</key>
                <string>{418,164}</string>
            </dict>
            <key>plaza_image_userinfo_head.png</key>
            <dict>
                <key>frame</key>
                <string>{{728,588},{139,139}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{139,139}}</string>
                <key>sourceSize</key>
                <string>{139,139}</string>
            </dict>
            <key>plaza_pop_score_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{492,172},{474,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{474,88}}</string>
                <key>sourceSize</key>
                <string>{474,88}</string>
            </dict>
            <key>plaza_service_label_title.png</key>
            <dict>
                <key>frame</key>
                <string>{{456,982},{178,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,2},{178,66}}</string>
                <key>sourceSize</key>
                <string>{184,70}</string>
            </dict>
            <key>plaza_setting_btn_switch_account_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{176,1698},{280,104}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{280,104}}</string>
                <key>sourceSize</key>
                <string>{286,104}</string>
            </dict>
            <key>plaza_setting_btn_switch_account_press.png</key>
            <dict>
                <key>frame</key>
                <string>{{70,1698},{280,104}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{280,104}}</string>
                <key>sourceSize</key>
                <string>{286,104}</string>
            </dict>
            <key>plaza_setting_label_title.png</key>
            <dict>
                <key>frame</key>
                <string>{{70,1980},{177,64}}</string>
                <key>offset</key>
                <string>{1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,1},{177,64}}</string>
                <key>sourceSize</key>
                <string>{183,70}</string>
            </dict>
            <key>plaza_setting_switch_off.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,982},{204,80}}</string>
                <key>offset</key>
                <string>{-4,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,6},{204,80}}</string>
                <key>sourceSize</key>
                <string>{212,90}</string>
            </dict>
            <key>plaza_setting_switch_on.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,172},{198,80}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,6},{198,80}}</string>
                <key>sourceSize</key>
                <string>{212,90}</string>
            </dict>
            <key>plaza_userinfo_base_man.png</key>
            <dict>
                <key>frame</key>
                <string>{{383,1980},{130,62}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{130,62}}</string>
                <key>sourceSize</key>
                <string>{138,64}</string>
            </dict>
            <key>plaza_userinfo_base_setting_title.png</key>
            <dict>
                <key>frame</key>
                <string>{{1968,886},{320,66}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,3},{320,66}}</string>
                <key>sourceSize</key>
                <string>{330,70}</string>
            </dict>
            <key>plaza_userinfo_base_women.png</key>
            <dict>
                <key>frame</key>
                <string>{{249,1980},{132,62}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{132,62}}</string>
                <key>sourceSize</key>
                <string>{138,64}</string>
            </dict>
            <key>plaza_userinfo_head_select_back.png</key>
            <dict>
                <key>frame</key>
                <string>{{480,600},{246,246}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,6},{246,246}}</string>
                <key>sourceSize</key>
                <string>{254,256}</string>
            </dict>
            <key>plaza_userinfo_head_title.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1698},{314,66}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,4},{314,66}}</string>
                <key>sourceSize</key>
                <string>{330,70}</string>
            </dict>
            <key>plaza_userinfo_pwd_title.png</key>
            <dict>
                <key>frame</key>
                <string>{{1968,568},{316,68}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,1},{316,68}}</string>
                <key>sourceSize</key>
                <string>{322,70}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>plazaScene.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:dc8fc50f74693ecd932662c3169dc75c:1/1$</string>
            <key>textureFileName</key>
            <string>plazaScene.png</string>
        </dict>
    </dict>
</plist>
