<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>leader_btn_power_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{577,294},{310,106}}</string>
                <key>offset</key>
                <string>{0,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{310,106}}</string>
                <key>sourceSize</key>
                <string>{310,124}</string>
            </dict>
            <key>leader_btn_power_press.png</key>
            <dict>
                <key>frame</key>
                <string>{{577,168},{310,124}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{310,124}}</string>
                <key>sourceSize</key>
                <string>{310,124}</string>
            </dict>
            <key>leader_btn_wealth_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{889,168},{310,106}}</string>
                <key>offset</key>
                <string>{0,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{310,106}}</string>
                <key>sourceSize</key>
                <string>{310,124}</string>
            </dict>
            <key>leader_btn_wealth_press.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,792},{310,124}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{310,124}}</string>
                <key>sourceSize</key>
                <string>{310,124}</string>
            </dict>
            <key>leader_image_No_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{314,168},{74,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,2},{74,80}}</string>
                <key>sourceSize</key>
                <string>{84,84}</string>
            </dict>
            <key>leader_image_No_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{946,2},{74,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,1},{74,82}}</string>
                <key>sourceSize</key>
                <string>{84,84}</string>
            </dict>
            <key>leader_image_No_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{946,86},{74,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,2},{74,80}}</string>
                <key>sourceSize</key>
                <string>{84,84}</string>
            </dict>
            <key>leader_image_myself_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,918},{573,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{573,90}}</string>
                <key>sourceSize</key>
                <string>{573,90}</string>
            </dict>
            <key>leader_image_nothing.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,168},{622,280}}</string>
                <key>offset</key>
                <string>{5,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,7},{622,280}}</string>
                <key>sourceSize</key>
                <string>{640,290}</string>
            </dict>
            <key>leader_top_title.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{942,164}}</string>
                <key>offset</key>
                <string>{1,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,16},{942,164}}</string>
                <key>sourceSize</key>
                <string>{950,180}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ranklist.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7b30695050321ba645730224785859e9:1/1$</string>
            <key>textureFileName</key>
            <string>ranklist.png</string>
        </dict>
    </dict>
</plist>
