<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bank_button_rechange.png</key>
            <dict>
                <key>frame</key>
                <string>{{828,753},{393,145}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,14},{393,145}}</string>
                <key>sourceSize</key>
                <string>{423,167}</string>
            </dict>
            <key>bank_button_rechange_select.png</key>
            <dict>
                <key>frame</key>
                <string>{{828,332},{419,155}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,9},{419,155}}</string>
                <key>sourceSize</key>
                <string>{423,167}</string>
            </dict>
            <key>bank_button_reward.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1579},{334,334}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{334,334}}</string>
                <key>sourceSize</key>
                <string>{334,334}</string>
            </dict>
            <key>bank_button_reward_disable.png</key>
            <dict>
                <key>frame</key>
                <string>{{338,1579},{288,292}}</string>
                <key>offset</key>
                <string>{2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,19},{288,292}}</string>
                <key>sourceSize</key>
                <string>{334,334}</string>
            </dict>
            <key>bank_button_reward_select.png</key>
            <dict>
                <key>frame</key>
                <string>{{715,1148},{284,288}}</string>
                <key>offset</key>
                <string>{2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,21},{284,288}}</string>
                <key>sourceSize</key>
                <string>{334,334}</string>
            </dict>
            <key>bank_icon_arrow.png</key>
            <dict>
                <key>frame</key>
                <string>{{338,1873},{172,136}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{172,136}}</string>
                <key>sourceSize</key>
                <string>{172,136}</string>
            </dict>
            <key>bank_icon_turning.png</key>
            <dict>
                <key>frame</key>
                <string>{{998,2},{938,938}}</string>
                <key>offset</key>
                <string>{3,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,32},{938,938}}</string>
                <key>sourceSize</key>
                <string>{998,998}</string>
            </dict>
            <key>bank_icon_turning_back.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{994,328}}</string>
                <key>offset</key>
                <string>{-1,-24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,59},{994,328}}</string>
                <key>sourceSize</key>
                <string>{1024,398}</string>
            </dict>
            <key>bank_reward_backline.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,894},{711,683}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{711,683}}</string>
                <key>sourceSize</key>
                <string>{711,683}</string>
            </dict>
            <key>bank_reward_deng.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,332},{560,824}}</string>
                <key>offset</key>
                <string>{127,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{301,42},{560,824}}</string>
                <key>sourceSize</key>
                <string>{908,908}</string>
            </dict>
            <key>bank_reward_middle_icon.png</key>
            <dict>
                <key>frame</key>
                <string>{{628,1579},{290,284}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,0},{290,284}}</string>
                <key>sourceSize</key>
                <string>{298,284}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>reward.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a1ac606209ac06462d0af07ea7caffba:1/1$</string>
            <key>textureFileName</key>
            <string>reward.png</string>
        </dict>
    </dict>
</plist>
