<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>shop_icon_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,657},{128,124}}</string>
                <key>offset</key>
                <string>{8,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{26,28},{128,124}}</string>
                <key>sourceSize</key>
                <string>{164,172}</string>
            </dict>
            <key>shop_icon_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,523},{146,146}}</string>
                <key>offset</key>
                <string>{-6,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,13},{146,146}}</string>
                <key>sourceSize</key>
                <string>{164,172}</string>
            </dict>
            <key>shop_icon_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{156,814},{152,154}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,8},{152,154}}</string>
                <key>sourceSize</key>
                <string>{164,172}</string>
            </dict>
            <key>shop_icon_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{783,814},{152,126}}</string>
                <key>offset</key>
                <string>{3,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,32},{152,126}}</string>
                <key>sourceSize</key>
                <string>{164,172}</string>
            </dict>
            <key>shop_icon_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,671},{146,132}}</string>
                <key>offset</key>
                <string>{0,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,29},{146,132}}</string>
                <key>sourceSize</key>
                <string>{164,172}</string>
            </dict>
            <key>shop_icon_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,814},{164,152}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,8},{164,152}}</string>
                <key>sourceSize</key>
                <string>{164,172}</string>
            </dict>
            <key>shop_icon_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,177},{302,344}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{302,344}}</string>
                <key>sourceSize</key>
                <string>{302,346}</string>
            </dict>
            <key>shop_image_di.png</key>
            <dict>
                <key>frame</key>
                <string>{{742,2},{206,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{206,70}}</string>
                <key>sourceSize</key>
                <string>{206,70}</string>
            </dict>
            <key>shop_image_top.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,523},{130,132}}</string>
                <key>offset</key>
                <string>{-2,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{130,132}}</string>
                <key>sourceSize</key>
                <string>{138,146}</string>
            </dict>
            <key>shop_label_title_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{742,74},{738,173}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{738,173}}</string>
                <key>sourceSize</key>
                <string>{738,173}</string>
            </dict>
            <key>shop_label_title_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{738,173}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{738,173}}</string>
                <key>sourceSize</key>
                <string>{738,173}</string>
            </dict>
            <key>shop_label_title_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{310,814},{471,152}}</string>
                <key>offset</key>
                <string>{-4,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,10},{471,152}}</string>
                <key>sourceSize</key>
                <string>{481,162}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>shop.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6e8946bc93e38eac583bef52b96ad368:1/1$</string>
            <key>textureFileName</key>
            <string>shop.png</string>
        </dict>
    </dict>
</plist>
